@import "../../../../assets/scss/main.scss";

.outlines_wrapper {
  padding: 70px;
  margin-top: 64px;
  background-color: $background-beige;
}

.title_text {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 1px;

  span {
    color: $site-pink;
    font-weight: bold;
  }
}

.overview_wrapper {
  margin: 40px 0px;
}