<div class="_flex_col outlines_wrapper">
  <div class="title_text">
    <span>COURSE OUTLINES</span> that peak <br />
    your curiosity and interest.
  </div>
  <div class="_flex _flex_align_item_center _justify_center _flex_wrap overview_wrapper">
    <common-overview-card-large></common-overview-card-large>
    <common-overview-card-large></common-overview-card-large>
    <common-overview-card-large></common-overview-card-large>
    <common-overview-card-large></common-overview-card-large>
    <common-overview-card-large></common-overview-card-large>
    <common-overview-card-large></common-overview-card-large>
  </div>

  <!-- <div >
    <app-outlines-material [outline]="outline"></app-outlines-material>
  </div>
  <app-category-item-list [title]="'Outlines'" fxFlex="20%"></app-category-item-list> -->
</div>
