@import "../../../../assets/scss/main.scss";

.outlines_wrapper {
  // padding: 70px;
  margin-top: 64px;
  background-color: $background-beige;
}

.image_wrapper {
  height: 600px;
  overflow: hidden;
}

.title_text {
  position: absolute;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 1px;
  left: 20px;
  top: 140px;
  color: white;

  span {
    color: $site-pink;
    font-weight: bold;
  }
}

.overview_wrapper {
  padding: 70px;
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.category_buttons {
  app-icon-button {
    margin: 40px;
  }
}

img {
  width: 100vw;
  position: relative;
  bottom: 500px;
  filter: brightness(70%);
}
