<div class="side-menu__wrapper">
  <h3 class="title is-3">Toolbox</h3>
  <aside class="menu">
    <p class="menu-label">Reality Challenge</p>
    <ul class="menu-list">
      <li><a>Take the Reality Challenge and see where you stand in the marketplace</a></li>
    </ul>
    <p class="menu-label">Journey @ Work</p>
    <ul class="menu-list">
      <li><a>Learn from the highs and lows of your career</a></li>
    </ul>
    <p class="menu-label">Surviving @ Work</p>
    <p class="menu-label">Prayer of Examen</p>
    <ul class="menu-list">
      <li><a>Ask God to reveal what's on your heart</a></li>
    </ul>
    <p class="menu-label">Prayer of Examen</p>
    <ul class="menu-list">
      <li><a>Ask God to reveal what's on your heart</a></li>
    </ul>
    <p class="menu-label">Bless your marketplace</p>
    <p class="menu-label">Ministry @ Work</p>
    <ul class="menu-list">
      <li><a>Take your work to a higher level and make a real difference</a></li>
    </ul>
    <p class="menu-label">Mapping your influence</p>
  </aside>
</div>
