<mat-toolbar class="_flex _space_between">
  <div class="header_title" (click)="onClickNavigation('')">MARKETPLACE</div>
  <div class="_flex _flex_align_item_center" *ngIf="innerWidth > 1000">
    <div class="content_tab" (click)="onClickNavigation('about')">About</div>
    <div class="content_tab" (click)="onClickNavigation('workshop')">
      Workshop
    </div>
    <div class="content_tab">Course Outline</div>
    <div class="content_tab">Blogs</div>
    <div class="content_tab">Case Studies</div>
  </div>
  <div *ngIf="innerWidth < 1000">
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <div class="content_tab" (click)="onClickNavigation('about')">About</div>
      </button>
      <button mat-menu-item>
        <div class="content_tab" (click)="onClickNavigation('workshop')">Workshop</div>
      </button>
      <button mat-menu-item>
        <div class="content_tab">Course Outline</div>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
