@import "../../../../assets/scss/layout.scss";

.header_title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
}

.content_tab {
  margin: 5px 15px;
  cursor: pointer;
}

.content_tab:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.content_tab:hover:after {
  width: 100%;
  background: #4B2665;
}
