@import "../../../../assets/scss/main.scss";

.blog_wrapper {
  padding: 70px;
  margin-top: 64px;
}

.blog_content_wrapper {
  width: 50%;
}

.title_text {
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.author_text {
  font-style: italic;
}

.content_text {
  font-size: 20px;
  margin-top: 40px;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_right_20 {
    margin-right: 20px;
}

.blog_image {
  max-width: 100%;
}

.image_desc {
  font-size: 16px;
  font-style: italic;
}

.seperator {
  margin: 0px 10px;
}

.social_links {
  margin-top: 5rem;
}

.more_blogs_text {
  margin-top: 40px;
  font-weight: 500;
  padding-bottom: 24px;
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
}

common-overview-card {
  margin: 15px 0px;
}