<div
  class="_flex_col _justify_center _flex_align_item_center blog_wrapper"
  *ngIf="isLoaded"
>
  <div class="blog_content_wrapper">
    <div class="title_text has-text-centered">{{ blog?.title }}</div>
    <div class="_flex _flex_align_item_center margin_top_20">
      <div class="author_text">Written by {{ blog?.author }}</div>
      <div class="seperator">-</div>
      <div>{{ blog?.date | date: "mediumDate" }}</div>
    </div>
    <hr />
    <div [innerHTML]="blog?.content" class="content_text"></div>
  </div>
</div>
