<div
  class="_flex_col _justify_center _flex_align_item_center blog_wrapper"
  *ngIf="isLoaded"
>
  <div class="blog_content_wrapper">
    <div class="title_text">{{ blog[0]?.title }}</div>
    <div class="_flex _flex_align_item_center margin_top_20">
      <div class="author_text">Written by {{ blog[0]?.author }}</div>
      <div class="seperator">-</div>
      <div>{{ blog[0]?.date }}</div>
    </div>
    <img src="/assets/images/image2.jpg" class="blog_image margin_top_20">
    <div class="image_desc">This is a picture of a restaurant</div>
    <div class="content_text">{{ blog[0]?.content }}</div>
    <div class="social_links">
      <common-shareable-socials></common-shareable-socials>
    </div>
    <div class="more_blogs_text">More from {{ blog[0]?.author }}</div>
    <div class="_flex _space_between _flex_wrap">
      <common-overview-card></common-overview-card>
      <common-overview-card></common-overview-card>
      <common-overview-card></common-overview-card>
    </div>

  </div>
</div>
