
// Primary Site colors
$site-pink: #ec615b;
$site-blue: #6495ed;

// Secondary site colors
$background-green: #aacfcf;
$background-beige: #f6efe8;
$background-light-blue: rgb(247, 250, 255);
$background-olive: #E8E7DC;
