<div class="_flex workshop_wrapper">
  <app-scroll-content-tracker fxFlex="20%"></app-scroll-content-tracker>
  <div fxFlex="60%">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis eros
    quis erat condimentum pulvinar sed sit amet nibh. Sed blandit sem quis massa
    mattis, sed rhoncus nisl pellentesque. Fusce egestas ornare turpis. Duis et
    sapien ac est eleifend sollicitudin. In nunc enim, consectetur porttitor est
    nec, eleifend tempor dolor. Aenean rhoncus, elit at semper iaculis, sem
    ligula dapibus mi, eget finibus neque arcu eget eros. Sed tempus eros mattis
    vulputate tincidunt. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Duis malesuada blandit porttitor.
    Aliquam lacinia leo feugiat odio dapibus mattis. Cras aliquet eget nibh sed
    maximus. Ut porttitor magna dolor, sit amet mattis risus scelerisque a.
    Aliquam dictum, turpis sed mattis sodales, ex purus imperdiet mi, vel porta
    ipsum diam nec leo. Nunc convallis tellus sit amet enim dignissim, sed
    ornare turpis rhoncus. Etiam aliquet semper aliquam. Fusce lacinia diam vel
    imperdiet semper. Fusce eu ligula vel purus tempor venenatis. In volutpat
    arcu leo. Nulla et nisi eu metus iaculis bibendum. Nullam efficitur
    facilisis risus imperdiet vestibulum. Pellentesque eget feugiat dui, ac
    ornare nulla. Quisque venenatis velit in eros lacinia, sit amet consectetur
    odio auctor. Phasellus pulvinar dapibus suscipit. Nulla interdum elementum
    tortor at varius. Duis non dolor lectus. Suspendisse ut turpis eu sem
    viverra euismod. Curabitur semper velit dictum nulla ornare, id dapibus eros
    tempor. Proin convallis tortor sapien, ut tincidunt augue tempor eget. Sed
    ut nunc lacinia enim cursus cursus id eget odio. Donec fringilla a dolor sed
    luctus. Integer interdum ipsum mauris, vitae egestas magna suscipit at.
    Nullam ut dictum ante. Nullam vitae turpis quis neque vestibulum mattis.
    Aenean elementum convallis sollicitudin. Duis non tortor euismod, euismod
    ante eu, tincidunt augue. Fusce vel nibh velit. Donec sit amet ornare dui,
    sit amet maximus nisi. Praesent placerat suscipit ex nec posuere. Morbi
    cursus ultrices velit vel posuere. Vivamus dictum leo sapien, vitae rutrum
    nibh suscipit ac. Donec congue egestas dictum. Pellentesque tempus fermentum
    risus, quis condimentum enim luctus sed. Vivamus ut ullamcorper dolor. Etiam
    euismod, leo sollicitudin placerat molestie, quam diam aliquam sem, non
    viverra velit odio eget dolor. Sed porta ligula vitae nibh eleifend
    vulputate. Phasellus suscipit facilisis egestas. Sed dictum vehicula nulla
    id iaculis. Mauris in lectus eu lorem mattis faucibus. Phasellus tempus
    lacinia est, sed rutrum quam mattis id. Sed maximus quam non risus aliquam,
    id sollicitudin libero mattis. Fusce a tellus at lectus pulvinar placerat.
    Nulla id suscipit elit, non accumsan elit. Curabitur ac efficitur orci.
    Fusce et massa ac enim cursus pulvinar eu ut lacus.
  </div>
</div>
