@import "../../../../assets/scss/main.scss";

.workshop_wrapper {
  padding: 70px;
  background-color: $background-beige;
}

.title_text {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 1px;

  span {
    color: $site-pink;
    font-weight: bold;
  }
}

.margin_top_30 {
  margin-top: 30px;
}

.def_text {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.list_wrapper {
  box-shadow: 0px 3px 6px #c1c1c1;
  border-radius: 5px;
}

.workshop_title {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.workshop_summary {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.workshop_description {
  margin-bottom: 40px;
}

.read_more_text {
  cursor: pointer;
  font-size: 20px;
}

.read_more_text:hover {
  color: $site-blue;
}

.header_seperator {
  width: 50%;
  height: 200px;
  background-color: orange;
  margin: 5rem 0px;
}

.header_seperator2 {
  z-index: 2;
  width: 50%;
  height: 200px;
  background-color: orange;
  margin: 5rem 0px;
}