<div class="_flex_col workshop_wrapper">
  <div class="title_text">
    Find <span>WORKSHOPS</span> that peak <br />
    your curiosity and interest.
  </div>
  <div class="_flex _flex_align_item_center">
    <div fxFlex="60%">
      <div class="list_wrapper">
        <app-workshop-list
          (clickedWorkshop)="onShowWorkshop($event)"
        ></app-workshop-list>
      </div>
    </div>
    <div fxFlex="30%">
      <div *ngIf="!clickedWorkshopToShow; else showWorkshop">Click on a workshop to view</div>
      <ng-template #showWorkshop>
        <div>{{clickedWorkshopToShow?.title}}</div>
        <div>{{clickedWorkshopToShow?.briefSummary}}</div>
        <div>{{clickedWorkshopToShow?.briefDescription}}</div>
      </ng-template>
    </div>
  </div>
  <!-- <app-scroll-content-tracker fxFlex="20%" [currentWorkshop]="workshopData"></app-scroll-content-tracker>
  <div fxFlex="60%">
    <app-workshop-material [workshop]="workshopData"></app-workshop-material>
  </div>
  <app-category-item-list [title]="'Workshops'" fxFlex="20%"></app-category-item-list> -->
</div>
