.circle_icon_wrapper {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  margin: 0 auto 1rem;
  fill: #273340;
  border-radius: 50%;
  box-shadow: 0 0 6rem -2rem rgba(0, 0, 0, 0.75);
}

mat-icon {
  color: white;
  width: 44px;
  font-size: 44px;
  height: 44px;
}
