<h1 class="title is-1">Pray over your resume</h1>
<p class="content">
  Your resume is a great way to review the positives in your career, though
  there may be details and episodes you’d rather not reveal to your next
  employer. We recommend you use your most up-to-date version.
</p>
<p class="content">
  The sample resume below gives you some idea how to work through the items.
  Obviously, the longer you have been working and studying, the more entries
  you’ll have listed. Take time to reflect on the people you worked with, the
  kind of work you did, the new skills you learned, the benefits that came with
  the job, and the downsides.
</p>
<p class="content">
  Pray as you begin:
  <i
    >“Father, you know every thought that crosses my mind, and every deed I ever
    committed. Reveal to me both my strengths and weaknesses, that I may be
    restored for better service in the marketplace and to You. In Jesus’ name,
    Amen.</i
  >
</p>
<embed src="../../assets/files/resume-example.pdf" width="100%" height="600px"/>