<div class="contact_wrapper">
  <p class="content">GET IN TOUCH</p>
  <div class="subtitle title_text">Wouldn't it be great to talk?</div>
  <div class="is-flex">
    <div class="section1" fxFlex="50%">
      <div class="is-flex is-justify-content-center">
        <h2 class="title is-2">Find</h2>
      </div>
      
    </div>
    <div class="sectio2" fxFlex="50%">
      <div class="is-flex is-justify-content-center">
        <div class="is-flex is-flex-direction-column is-align-items-center">
          <common-circle-icon [icon]="'import_contacts'" [color]="'red'"></common-circle-icon>
          <h2 class="title is-2">Contact</h2>
          <p>Email: david@work-as-mission.com</p>
        </div>
        
      </div>
    </div>
  </div>
  
</div>