<div class="contact_banner _flex _justify_center _flex_align_item_center">
  <h1 class="title_text">Contact us</h1>
  <img src="../../../../assets/images/dig-in.jpg" class="banner_image" />
</div>
<div class="contact_wrapper">
  <div class="columns is-centered is-vcentered">
    <div class="column is-one-third">
      <h1 class="title is-1">Wouldn't it be great to connect?</h1>
      <p class="content">
        It may not feel like your dream job or make you a lot of money, but it
        deserves your respect - just because <i>you</i> are doing it.
      </p>
    </div>

    <div class="column is-one-third">
      <p class="content">
        Seeking a higher purpose? Longing to fufill your calling? Wondering how
        to survive your next workday? Looking for a job? You're not alone.
        Whatever your situation, know that your God stands with you today. You
        are God's masterpiece. You reach your full potential when you work with
        Him.
      </p>
    </div>
  </div>
  <div class="block">
    <div class="is-flex block_wrapper">
      <div class="section1" fxFlex="50%">
        <div class="is-flex is-flex-direction-column is-align-items-center">
          <common-circle-icon
            [icon]="'import_contacts'"
            [color]="'orange'"
          ></common-circle-icon>
          <h2 class="title is-2">Resources</h2>
          <a href="https://licc.org.uk/resources/" target="_blank"
            >https://licc.org.uk/resources/</a
          >
        </div>
      </div>
      <div class="sectio2" fxFlex="50%">
        <div class="is-flex is-justify-content-center">
          <div class="is-flex is-flex-direction-column is-align-items-center">
            <common-circle-icon
              [icon]="'alternate_email'"
              [color]="'red'"
            ></common-circle-icon>
            <h2 class="title is-2">Contact</h2>
            <a href="mailto:dklau2013@gmail.com"
              >dklau2013@gmail.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <h1 class="title is-1">Pictures of our journey so far...</h1>
    <common-text-image-carousel></common-text-image-carousel>
  </div>
  <common-middle-seperator [config]="middleBanner"></common-middle-seperator>
  <div class="block">

    <form class="contact_input_wrapper" [formGroup]="formGroup">
      <div class="field">
        <label class="label">Name:</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Please enter your name"
            formControlName="name"
          />
        </div>
        <p
          *ngIf="
            formGroup.controls['name'].errors &&
            (formGroup.controls['name'].dirty ||
              formGroup.controls['name'].touched)
          "
          class="help is-danger"
        >
          Name is required.
        </p>
      </div>
      <div class="field">
        <label class="label">Email:</label>
        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="Please enter your email"
            formControlName="email"
          />
        </div>
        <p
          *ngIf="
            formGroup.controls['email']?.errors?.required &&
            (formGroup.controls['email'].dirty ||
              formGroup.controls['email'].touched)
          "
          class="help is-danger"
        >
          Email is required.
        </p>
        <p
          *ngIf="
            formGroup.controls['email']?.errors?.email &&
            (formGroup.controls['email'].dirty ||
              formGroup.controls['email'].touched)
          "
          class="help is-danger"
        >
          Please provide a valid email
        </p>
      </div>
      <div class="field">
        <label class="label">Message:</label>
        <div class="control">
          <textarea
            class="textarea"
            placeholder="Please enter your message"
            formControlName="message"
          ></textarea>
        </div>
        <p
          *ngIf="
            formGroup.controls['message'].errors &&
            (formGroup.controls['message'].dirty ||
              formGroup.controls['message'].touched)
          "
          class="help is-danger"
        >
          Message is required.
        </p>
      </div>
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-danger is-light" (click)="onClickCancel()">
            Cancel
          </button>
        </div>
        <div class="control">
          <button class="button is-success" (click)="onClickSubmit()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
