<carousel [cellsToShow]="5" [transitionDuration]="800" [autoplay]="true" [autoplayInterval]="1500" [loop]="true" [arrowsTheme]="'dark'" fxFlex="100%">
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/pink.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/mountains.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/forest.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/studying2.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/meeting.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/forest.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/studying2.jpg">
  </div>
  <div class="_flex _justify_center carousel-cell">
    <img src="/assets/images/meeting.jpg">
  </div>
</carousel>
