<div class="description_container">
  <div class="_flex_col post_image">
    <div class="category">Personal</div>
    <img src="/assets/images/group_study.jpg" />
  </div>
  <div class="date_text">Sunday, Oct 15, 2020</div>
  <div class="title_text">{{ description }}</div>
  <div class="description_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel felis
    tristique, sagittis nisl vel, tempor nisl. Suspendisse condimentum ipsum eu
    tellus sollicitudin, ac egestas urna hendrerit.
  </div>
  <button class="button" (click)="onClickRoute()">{{route}}</button>
</div>
