<div class="_flex _space_between">
  <div class="_flex_col" fxFlex="30%">
    <div class="_flex_col image_wrapper">
      <img src="/assets/images/mountains.jpg">
      <div class="image_subtext">Wordpress - December 19, 2020</div>
      <div class="image_title">Cloud & blockchain with react</div>
    </div>
    <div class="_flex_col image_wrapper">
      <img src="/assets/images/image2.jpg" >
      <div class="image_subtext">Wordpress</div>
      <div class="image_title">Cloud & blockchain with react</div>
    </div>
  </div>
  <div class="_flex_col" fxFlex="30%">
    <div class="_flex_col image_wrapper">
      <img src="/assets/images/image3.jpg" >
      <div class="image_subtext">Wordpress</div>
      <div class="image_title">Cloud & blockchain with react</div>
    </div>
  </div>
  <div class="_flex_col" fxFlex="30%">
    <div class="_flex_col image_wrapper">
      <img src="/assets/images/forest.jpg" >
      <div class="image_subtext">Wordpress</div>
      <div class="image_title">Cloud & blockchain with react</div>
    </div>
    <div class="_flex_col image_wrapper">
      <img src="/assets/images/image3.jpg" >
      <div class="image_subtext">Wordpress</div>
      <div class="image_title">Cloud & blockchain with react</div>
    </div>
  </div>
</div>