<div class="_flex_col outline_wrapper" *ngIf="isLoaded">
  <div class="_flex _flex_align_item_center">
    <div class="title">Course: {{ outline?.title }}</div>
    <mat-icon tooltipInfoPopup [tooltipText]="'Click to download'"
      >get_app</mat-icon
    >
  </div>

  <div class="margin_top_20">
    <div class="_flex _flex_align_item_center">
      <div>{{ outline?.date }}</div>
      <div>{{ outline?.description }}</div>
    </div>

    <div class="_flex">
      <div>Instructor(s):</div>
      <div *ngFor="let instructor of outline?.instructors; let last = last">
        <div *ngIf="last">{{ instructor }}</div>
        <div *ngIf="!last">{{ instructor }},</div>
      </div>
    </div>
  </div>

  <div class="_flex _flex_align_item_center subheaders">
    Important dates <span class="date_notif">{{ rowDefs?.length }}</span>
  </div>
  <app-table [columnDefs]="columnDefs" [rowDefs]="rowDefs"></app-table>
  <div class="subheaders">Key scripture references</div>
  <ul>
    <li *ngFor="let scripture of outline?.scriptures">{{ scripture }}</li>
  </ul>
  <div class="subheaders">Questions</div>
  <div *ngFor="let question of outline?.questions">
    <div>{{ question }}</div>
  </div>
  <div class="socials_links">
    <common-shareable-socials></common-shareable-socials>
  </div>
</div>
