@import "../../../../assets/scss/main.scss";

.workshop_wrapper {
  // padding-top: 70px;
  margin-top: 64px;
  background-color: $background-beige;
}

.list_background {
  background-color: white;
  padding: 20px;
}

.list_inner {
  position: fixed;
}

hr {
  height: 1px;
  width: 100%;
  margin-bottom: -1px;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  margin: 40px 0px;
}

.list_title {
  font-size: 30px;
  font-weight: 500;
}

.list_subtext {
  font-size: 15px;
  font-style: italic;
  color: #c1c1c1;
}

.content_wrapper {
  padding: 70px;
}

.title_text {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}

.subheader_text {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}

.search_img {
  width: 500px;
}

.margin_top_30 {
  margin-top: 30px;
}

.width_100 {
  width: 100%;
}

.header_styling {
  color: white;
  padding: 10px;
  background-color: #87a8b2;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 4px;
  margin: 15px 0px;
}

.def_text {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.list_wrapper {
  box-shadow: 0px 3px 6px #c1c1c1;
  border-radius: 5px;
}

.workshop_title {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.workshop_summary {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.workshop_description {
  //margin-bottom: 40px;
}

.read_more_text {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
}

.read_more_text:hover {
  color: $site-blue;
}

.header_seperator {
  width: 50%;
  height: 200px;
  background-color: orange;
  margin: 5rem 0px;
}

.header_seperator2 {
  z-index: 2;
  width: 50%;
  height: 200px;
  background-color: orange;
  margin: 5rem 0px;
}

ul {
  margin: 0;
  text-decoration: none;
}

.image_wrapper {
  height: 600px;
  overflow: hidden;
}

.header_img {
  width: 100vw;
  position: relative;
  top: -200px;
  filter: brightness(50%);
}

/* RESPONSIVE */

@media only screen and (max-width: 1095px) {
  .title_text {
    font-size: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .workshop_wrapper {
    flex-direction: column;
  }
}
