<div class="_flex workshop_wrapper">
  <div class="_flex_col _flex_align_item_center list_background" fxFlex="30%">
    <div class="list_title">Current workshops</div>
    <div class="list_subtext">Click on a workshop to view details</div>
    <app-workshop-list
      (clickedWorkshop)="onShowWorkshop($event)"
      class="margin_top_30 width_100"
    ></app-workshop-list>
  </div>

  <div class="_flex_col" fxFlex="70%">
    <div class="_flex _flex_align_item_start _space_between content_wrapper">
      <div
        class="_flex_col"
        *ngIf="!clickedWorkshopToShow; else showWorkshop"
        fxFlex="60%"
      >
        <div class="title_text">Getting started</div>
        <div>
          This page is an overview of the workshops documentation and related
          resources.
        </div>
        <hr />
        <div class="subheader_text">What are workshops?</div>
        <div>
          If you prefer to use your own text editor, you can also download this
          HTML file, edit it, and open it from the local filesystem in your
          browser. It does a slow runtime code transformation, so we’d only
          recommend using this for simple demos.
        </div>
        <hr />
        <div class="subheader_text">How long are workshops?</div>
        <div>
          If you prefer to use your own text editor, you can also download this
          HTML file, edit it, and open it from the local filesystem in your
          browser. It does a slow runtime code transformation, so we’d only
          recommend using this for simple demos.
        </div>
        <hr />
        <div class="subheader_text">What do I learn from workshops?</div>
        <div>
          If you prefer to use your own text editor, you can also download this
          HTML file, edit it, and open it from the local filesystem in your
          browser. It does a slow runtime code transformation, so we’d only
          recommend using this for simple demos.
        </div>
        <hr />
      </div>
      <ng-template #showWorkshop>
        <div class="workshop_summary_wrapper" fxFlex="100%">
          <div class="workshop_title">{{ clickedWorkshopToShow?.title }}</div>
          <div class="_flex _flex_align_item_start">
            <div class="_flex_col" fxFlex="50%">
              <div class="workshop_summary">Dates</div>
              <ul
                *ngFor="let date of clickedWorkshopToShow?.dates; let i = index"
              >
                <li>Module {{ i + 1 }}: {{ date }}</li>
              </ul>
            </div>
            <div class="_flex_col">
              <div class="workshop_summary">Duration</div>
              <div>{{ clickedWorkshopToShow?.duration }}</div>
            </div>
          </div>
          <div class="header_styling">Brief Summary.</div>
          <div class="workshop_summary">
            {{ clickedWorkshopToShow?.briefSummary }}
          </div>
          <div class="workshop_description">
            {{ clickedWorkshopToShow?.longDescription }}
          </div>
          <div class="header_styling">Who is it for?</div>
          <div class="workshop_summary">
            A typical cohort for this workshop typically consists of:
          </div>
          <ul *ngFor="let role of clickedWorkshopToShow?.demographic">
            <li>{{ role }}</li>
          </ul>
          <div class="header_styling">What will I learn after all this?</div>
          <div>{{ clickedWorkshopToShow?.benefit }}</div>
          <div
            class="_flex _flex_align_item_center _justify_end read_more_text"
            (click)="onClickViewMore(clickedWorkshopToShow)"
          >
            View full workshop <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
