<div class="tools_banner _flex _justify_center _flex_align_item_center">
  <h1 class="title_text">Toolbox</h1>
</div>
<div class="toolbox_wrapper">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <p>
        Here are some tools that we have developed over the years to help people
        sort out where they are, where they have been, and where they
        potentially can go. We hope they will draw you ever closer to the One
        who labors with you every day in every situation.
      </p>
    </div>
  </div>
  <common-middle-seperator [config]="middleBanner"></common-middle-seperator>
  <div class="columns is-multiline">
    <div class="column is-one-third" *ngFor="let c of content?.content">
      <common-tools-card [title]="c?.title" [description]="c?.description" [file]="c?.file"></common-tools-card>
    </div>
  </div>
</div>
