<h1 class="title is-1">Bless your marketplace</h1>
<div class="columns image_text">
  <div class="column is-one-third">
    <img src="../../../assets/images/making_coffee.jpg" class="bless_coffee"/>
  </div>
  <div class="column">
    <p class="content">
      <i
        >When I met Alice, a buffet restaurant server, she was quite frustrated
        with her work, especially with customers who kept wasting food and
        messing up the place. And when they tipped, they weren’t generous at
        all. I encouraged her to pray for diners – even before they showed
        up.</i
      >
    </p>
    <p class="content">
      <i
        >Alice decided to start her shifts 15 minutes earlier, silently praying
        over each seat assigned to her. “In the name of Jesus, I bless the
        customer who will take this seat today. May the Lord provide food to
        nurture her body and fill her with joy and peace.”</i
      >
    </p>
    <p class="content">
      <i
        >Several weeks later, Alice saw a marked difference in their behavior.
        Table manners improved, people became more courteous, and the atmosphere
        in the dining room started changing.</i
      >
    </p>
  </div>
</div>
<hr>
<p class="content">
  Blessing people at work is the first and most important step toward
  transforming your marketplace. When you commit to pray for others, you’re
  saying that you desire change. You acknowledge what the Bible teaches: “Bless
  and do not curse” (Romans 12:14). You agree to make a difference “the Jesus
  way.”
</p>
<p class="content">
  When Jesus sent His disciples to bless the surrounding areas, He told them
  exactly what to say: “Peace to this house” (Luke 10:1-9). These were not just
  courteous words, but a proclamation of God’s providence, protection, and
  restoration. Where appropriate, say “Peace be with you.” Otherwise, pray the
  words silently in your heart.
</p>
<h3><i>Bless through prayer.</i></h3>
<p class="content">
  Develop a prayer strategy for your marketplace. Bless people you work with and
  know by name. Refer to your <b>Reality Challenge</b>. Make a list and commit
  to pray for them regularly. This applies even when you’re working from home.
</p>
<div class="field">
  <label class="label">Friends and associates at work</label>
  <div class="control">
    <textarea class="textarea" type="text"></textarea>
  </div>
</div>
<div class="field">
  <label class="label">People you find difficult to work with</label>
  <div class="control">
    <textarea class="textarea" type="text"></textarea>
  </div>
</div>
<div class="field">
  <label class="label">Competitors</label>
  <div class="control">
    <textarea class="textarea" type="text"></textarea>
  </div>
</div>
<div class="field">
  <label class="label">Customers (friendly or otherwise)</label>
  <div class="control">
    <textarea class="textarea" type="text"></textarea>
  </div>
</div>
<div class="field">
  <label class="label">Stakeholders</label>
  <div class="control">
    <textarea class="textarea" type="text"></textarea>
  </div>
</div>
<p class="content">
  Bless people you <i>don’t know</i> personally, but who are touched by your
  work, including:
</p>
<div class="content">
  <ul>
    <li>Coworkers and their families</li>
    <li>Customers and their families</li>
    <li>Competitors</li>
    <li>People in your community</li>
    <li>Leaders in your profession, business and industry</li>
  </ul>
</div>
