@import "../../../../assets/scss/main.scss";

.title_text_header {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 3px;
}

.title_text_header_anim {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 3px;
}

.title_subtext {
  font-size: 24px;
  letter-spacing: 0.36px;
  font-weight: 500;
}

.title_text {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 5px solid $site-pink;
  margin-bottom: 20px;
}

.sub_header_text {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.site_color {
  color: $site-pink;
}

.about_text {
  font-size: 24px;
}

.general_text {
  font-size: 22px;
  font-weight: 500;

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.about_card {
  padding: 70px;
  background-color: #f0f8ff;
}

.name_text {
  font-size: 24px;
  margin: 5px 0px;
  font-weight: 500;
}

.email_wrapper {
  margin: 20px 0px;
}

.bio_image {
  width: 350px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0px 3px 6px #c1c1c1;
}

.image_wrapper {
  cursor: pointer;
}

.bio_wrapper {
  margin: 15px 0px;
}

.section_wrapper {
  padding: 70px;
  box-sizing: border-box;
  width: 100%;
}

.beige_background {
  background-color: $background-beige;
}

.green_background {
  background-color: $background-light-blue;
}

.purple_background {
  background-color: #330033;
}

.margin_top_40 {
  margin-top: 40px;
}

.questions_image {
  width: 500px;
}

.explore_subtext {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.special_bold_text {  
  font-size: 40px;
  color: $site-blue;
}

.header_section {
  padding-top: 4rem;
  width: 100%;
  color: white;
}

.w1 {
  fill: #800080;
}

.w2 {
  fill: #660066;
}

.w3 {
  fill: #f6efe8;
}

.no_top_padding {
  padding-top: 0px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1000px) {
  ._flex {
    flex-direction: column;
    align-items: center;
  }

  .about_text {
    font-size: 20px;
  }

  .image_wrapper {
    margin-bottom: 40px;
  }

  img {
    width: 400px;
  }

  .title_text_header_anim {
    display: none;
  }

  .title_text_header {
    font-size: 40px;
  }

  .title_subtext {
    font-size: 18px;
  }

  .general_text {
    font-size: 18px;
  }
}
