@import "../../../../assets/scss/main.scss";

.blog_wrapper {
  padding: 20px;
  background: oldlace;
}

.title_text {
  font-size: 60px;
  color: $site-blue;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.header_text {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.list_column {
  common-overview-card {
    margin: 10px;
  }
}

.category_buttons {
  app-icon-button {
    margin: 40px;
  }
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

common-image-description {
  margin-top: 10px;
}