<div class="blog_wrapper">
  <div class="_flex _justify_center">
    <div class="title_text margin_bottom_50">What insight will <br> you gain today?</div>
  </div>
  <div class="_flex _justify_center category_buttons">
    <app-icon-button [config]="{icon: 'visibility', style: 'default', description: 'Discover'}"></app-icon-button>
    <app-icon-button [config]="{icon: 'supervisor_account', style: 'default', description: 'Workplace'}"></app-icon-button>
    <app-icon-button [config]="{icon: 'family_restroom', style: 'default', description: 'Family'}"></app-icon-button>
    <app-icon-button [config]="{icon: 'outdoor_grill', style: 'default', description: 'Social'}"></app-icon-button>
    <app-icon-button [config]="{icon: 'self_improvement', style: 'default', description: 'Insight'}"></app-icon-button>
  </div>

</div>