<div class="_flex_col _flex_align_item_start about_wrapper">
  <div
    class="_flex_col _flex_align_item_start section_wrapper beige_background"
  >
    <div class="title_text">Purpose.</div>
    <div class="general_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
      justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta non
      lorem ac, volutpat ullamcorper nisl. Integer in massa diam. Praesent eget
      leo posuere, congue turpis semper, aliquet mi. Duis ac lectus eget risus
      finibus volutpat non vel odio. Donec urna erat, feugiat aliquet tortor
      rhoncus, cursus convallis lacus. Fusce ullamcorper ut velit quis suscipit.
      Vestibulum consequat dui et urna lacinia porttitor. Nullam egestas vitae
      turpis non lacinia. Proin tincidunt bibendum velit in sollicitudin.
    </div>
  </div>

  <div class="_flex_col _flex_align_item_start section_wrapper">
    <div class="title_text">Vision & Plan.</div>
    <div class="_flex _space_evenly">
      <div class="_flex_col" fxFlex="30%">
        <div class="sub_header_text">5 years</div>
        <div class="general_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
          justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta
          non lorem ac, volutpat ullamcorper nisl. Integer in massa diam.
          Praesent eget leo posuere, congue turpis semper, aliquet mi. Duis ac
          lectus eget risus finibus volutpat non vel odio. Donec urna erat,
          feugiat aliquet tortor rhoncus, cursus convallis lacus. Fusce
          ullamcorper ut velit quis suscipit. Vestibulum consequat dui et urna
          lacinia porttitor. Nullam egestas vitae turpis non lacinia. Proin
          tincidunt bibendum velit in sollicitudin.
        </div>
      </div>
      <div class="_flex_col" fxFlex="30%">
        <div class="sub_header_text">10 years</div>
        <div class="general_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
          justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta
          non lorem ac, volutpat ullamcorper nisl. Integer in massa diam.
          Praesent eget leo posuere, congue turpis semper, aliquet mi. Duis ac
          lectus eget risus finibus volutpat non vel odio. Donec urna erat,
          feugiat aliquet tortor rhoncus, cursus convallis lacus. Fusce
          ullamcorper ut velit quis suscipit. Vestibulum consequat dui et urna
          lacinia porttitor. Nullam egestas vitae turpis non lacinia. Proin
          tincidunt bibendum velit in sollicitudin.
        </div>
      </div>
    </div>
  </div>

  <div
    class="_flex_col _flex_align_item_start section_wrapper green_background"
    fxFlex="50%"
  >
    <div class="title_text">Explore.</div>
    <div class="sub_header_text">
      3 areas of life to discover and re-imagine for:
    </div>
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col" fxFlex="30%">
        <div class="explore_subtext">Life</div>
        <div class="general_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
          justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta
          non lorem ac, volutpat ullamcorper nisl.
        </div>
      </div>
      <div class="_flex_col" fxFlex="30%">
        <div class="explore_subtext">Church</div>
        <div class="general_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
          justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta
          non lorem ac, volutpat ullamcorper nisl.
        </div>
      </div>
      <div class="_flex_col" fxFlex="30%">
        <div class="explore_subtext">Work</div>
        <div class="general_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
          justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta
          non lorem ac, volutpat ullamcorper nisl.
        </div>
      </div>
    </div>
  </div>

  <div
    class="_flex_col _flex_align_item_start section_wrapper beige_background"
  >
    <div class="title_text">Team.</div>
    <div class="_flex _flex_align_item_center bio_wrapper">
      <div class="image_wrapper">
        <img src="../../../../assets/images/david.jpg" class="bio_image" />
        <div class="name_text">Rev. Dr. David Lau</div>
        <div>Pastor of Cultivation</div>
      </div>
      <div class="general_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
        justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta non
        lorem ac, volutpat ullamcorper nisl. Integer in massa diam. Praesent
        eget leo posuere, congue turpis semper, aliquet mi.
      </div>
    </div>

    <div class="_flex _flex_align_item_center bio_wrapper">
      <div class="image_wrapper">
        <img src="../../../../assets/images/maymie.jpg" class="bio_image" />
        <div class="name_text">Pastor Maymie Lau</div>
        <div>P.E.A.C.E. (Mission) Pastor</div>
      </div>
      <div class="general_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
        justo quam, quis molestie arcu elementum et. Etiam leo nulla, porta non
        lorem ac, volutpat ullamcorper nisl. Integer in massa diam. Praesent
        eget leo posuere, congue turpis semper, aliquet mi.
      </div>
    </div>
  </div>

  <div class="_flex_col _flex_align_item_start section_wrapper">
    <div class="title_text">Questions?</div>
    <div class="general_text">
      We're all on this journey <span class="special_bold_text">together</span>, if you have any questions, please don't
      hesitate to contact us. We may not have the answer, but we could point you
      in the right direction.
    </div>
    <div class="_flex _flex_align_item_center">
      <div class="_flex_col _flex_align_item_start">
        <div class="general_text">Feel free to shoot us an email!</div>
        <div>
          We'd love to hear from you - questions, feedback, or to say hi!
        </div>
        <div class="email_wrapper">
          <app-email-input></app-email-input>
        </div>
      </div>
    </div>
  </div>
</div>
