<div class="_flex_col">
  <div class="header_text">Social Media</div>
  <div class="_flex _flex_align_item_center">
    <div class="_flex _flex_align_item_center icon_wrapper facebook">
      <div class="_flex _flex_align_item_center _justify_center background_div">
        <img src="/assets/images/facebook.png" />
      </div>
    </div>
    <div class="_flex _flex_align_item_center icon_wrapper whatsapp">
      <div class="_flex _flex_align_item_center _justify_center background_div">
        <img src="/assets/images/whatsapp.png" />
      </div>
    </div>
    <div class="_flex _flex_align_item_center icon_wrapper twitter">
      <div class="_flex _flex_align_item_center _justify_center background_div">
        <img src="/assets/images/twitter.png" />
      </div>
    </div>
    <div class="_flex _flex_align_item_center icon_wrapper google">
      <div class="_flex _flex_align_item_center _justify_center background_div">
        <img src="/assets/images/google.png" />
      </div>
    </div>
  </div>
</div>
