<div class="flip-card" [ngClass]="{'flip-card-horizontal' : flipDirection === 'horizontal' }">
  <div class="flip-card-inner flip_card_wrapper" [ngClass]="{'flip-card-inner-horizontal' : flipDirection === 'horizontal' }">
    <div class="_flex _space_around flip-card-front">
      <img src="../../../../assets/images/forest.jpg">
      <div class="_flex_col _space_around">
        <div class="blog_title">3 Common mistakes when finding a job</div>
        <div>David</div>
      </div>
    </div>
    <div class="flip-card-back" [ngClass]="{'flip-card-back-horizontal' : flipDirection === 'horizontal' }">
        <div>This is a fake description</div>
    </div>
  </div>
</div>