<mat-horizontal-stepper>
  <mat-step>
    <data-reality-challenge></data-reality-challenge>
    <ng-template matStepLabel>Where are you?</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Where have you been?</ng-template>
    <data-my-journey-at-work></data-my-journey-at-work>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Surviving @ Work</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pray over your resume.</ng-template>
  </mat-step>
</mat-horizontal-stepper>
