@import "../../../../assets/scss/main.scss";

.footer_wrapper {
  padding: 70px;
  background-color: #330033;
}

.marketplace_text {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
}

.header_text {
  font-weight: 500;
  color: $site-pink;
  margin: 10px 0px;
}

.desc_text {
  font-weight: 500;
  color: white;
  margin: 10px 0px;
}

.nav_text {
  font-weight: 500;
  color: white;
  margin: 10px 0px;
}

.nav_text:hover {
  cursor: pointer;
  text-decoration: underline;
}
