<mat-toolbar class="_flex _space_between">
  <div class="header_title" (click)="onClickNavigation('')">
    <mat-icon>storefront</mat-icon>
  </div>
  <div class="_flex _flex_align_item_center" *ngIf="innerWidth > 1000">
    <div
      class="content_tab"
      (click)="onClickNavigation('about')"
      [ngClass]="{ activeRoute: currentRoute === 'about' }"
    >
      About
    </div>
    <!-- <div
      class="content_tab"
      (click)="onClickNavigation('workshops')"
      [ngClass]="{ activeRoute: currentRoute === 'workshops' }"
    >
      Workshops
    </div> -->
    <div
      class="content_tab"
      (click)="onClickNavigation('discover-@-work')"
      [ngClass]="{ activeRoute: currentRoute === 'discover-@-work' }"
    >
      Discover Mission @ Work
    </div>
    <div
      class="content_tab"
      (click)="onClickNavigation('recreating-my-work')"
      [ngClass]="{ activeRoute: currentRoute === 'recreating-my-work' }"
    >
      Recreating my work
    </div>
    <!-- <div
      class="content_tab"
      class="content_tab"
      (click)="onClickNavigation('outlines')"
      [ngClass]="{ activeRoute: currentRoute === 'outlines' }"
    >
      Course Outlines
    </div> -->
    <div
      class="content_tab"
      (click)="onClickNavigation('stories')"
    >
      Snapshots and Stories
    </div>
    <div
      class="content_tab"
      (click)="onClickNavigation('blogs')"
      [ngClass]="{ activeRoute: currentRoute === 'blogs' }"
    >
      Blogs
    </div>
    <div
      class="content_tab"
      (click)="onClickNavigation('toolbox')"
      [ngClass]="{ activeRoute: currentRoute === 'toolbox' }"
    >
      Toolbox
    </div>
  </div>
  <div *ngIf="innerWidth < 1000">
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <div class="content_tab_small" (click)="onClickNavigation('about')">
          About
        </div>
      </button>
      <button mat-menu-item>
        <div class="content_tab_small" (click)="onClickNavigation('workshops')">
          Workshop
        </div>
      </button>
      <button mat-menu-item>
        <div class="content_tab_small" (click)="onClickNavigation('outlines')">
          Course Outline
        </div>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
