@import "../../../../assets/scss/layout.scss";

.main_wrapper {
  height: 100vh;
  background-color: #91B7C7;
}

.main_content {
  height: 100%;
}

.main_cards {
  border-right: 4px dotted;
}

.card_title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.width_33 {
  width: 33%;;
}

.width_100 {
  width: 100%;
}

.title_text {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
}

.title_subtext {
  font-size: 24px;
  letter-spacing: 0.36px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.seperator {
  width: 60%;
  height: 2px;
  background-color: #c1c1c1;
}

img {
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 960px) {

  img {
    width: 150px;
    height: 150px
  }
}

.main {
  /* Fill the available space */
  height: 100vh;
  
  /* Make the children of the element closer to the viewport */
  perspective: 2px;
  
  /* Hide the overflow */
  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  display: none;
}

/* General styling, not necessarily related to parallax effect  */
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Different background colors for demo purpose */
.static-one {
  background-color: #feceab;
}

.static-two {
  background-color: #aacfcf;
}

.static-three {
  background-color: #c06c84;
}

.parallax::after {
  /* Position the pseudo-element to fill the parent */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Scale the image to full */
  background-size: cover;
  
  /* Move the element back then scale the element, it helps to appears more slowly */
  transform: translateZ(-1px) scale(2.5);
  
  /* Set the parallax section before the other elements. */
  z-index: -1;
}

/* Different background images */
.parallax-one::after {
  background-image: url(https://source.unsplash.com/vs6a4EHj_Ro/1600x900);
}

.parallax-two::after {
  background-image: url(https://source.unsplash.com/P86-JPbDnPY/1600x900);
}