<main class="main">
  <section class="_flex _flex_align_item_center _justify_center section static static-one">
    <div class="_flex_col _flex_align_item_start">
      <div class="title_text">MARKETPLACE</div>
      <div class="title_subtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum
        dolor vel tempus pulvinar. Ut vitae leo metus. Duis felis metus,
      </div>
      <div class="_flex title_text">
        <div>Join us to:</div>
        <div id="element" class="site_color"></div>
      </div>
    </div>
  </section>
  <div class="_flex">
    <div fxFlex="30%">
      <section class="section static static-four">
        <div class="_flex_col section_header_text">
          <span class="site_color">Transforming</span> 
          <div>Work</div>
        </div>
        <div class="section_regular_text">A distinctive group resource with long-term impact on you and your workplace</div>
      </section>
    </div>
    <div fxFlex="70%">
      <section class="section parallax_half parallax-two">
      </section>
    </div>
  </div>
  <section class="_flex _flex_align_item_center section static static-three">
    <div class="_flex_col">
      <div class="section_header_text">
        <div>Work isn't <span class="site_color">easy</span>, <br> but it's full of <span class="site_color">opportunity</span>.</div>
      </div>
      <div class="section_regular_text">
        Our work is the means by which God gets done what he wants done in the world: people fed, housed, clothed, informed, educated…
        <br>
        <br>
        Our work contributes toward God’s purposes, towards human flourishing, and towards care of his creation. Your work matters.
        <br>
        <br>
        It also matters to God because you matter to God, your colleagues matter to God, and the organisation you work in matters to God. Our work isn’t perfect, our companies aren’t perfect, we aren’t perfect, but Jesus is good news for all of it. The restoration he brings, the redemption he brings, the truth and justice, the hope. And all these things he can bring through you.
        <br>
        <br>
        We want to help you recognise all the ways God could be (and already is) at work in your work.
      </div>
    </div>
  </section>
  <section class="section parallax_full parallax-one"></section>
  <section class="_flex _justify_center section static static-three">
    <div class="section_header_text">Learn about our <span class="site_color">workshops:</span></div>
  </section>
  <section class="_flex _justify_center section static static-four">
    <div class="section_header_text">View our <span class="site_color">outlines:</span></div>
  </section>
  <section class="_flex _flex_align_item_center _justify_center section static static-three height_100">
    <div class="_flex_col _flex_align_item_center">
      <div class="_flex _flex_align_item_center">
        <div class="_flex_col _flex_align_item_center">
          <div class="section_header_text">Latest from our <span class="site_color">blog:</span></div>
          <div class="_flex">
            <app-blog-card></app-blog-card>
            <app-blog-card></app-blog-card>
            <app-blog-card></app-blog-card>
          </div>
          <div class="_flex _justify_end _flex_align_item_center width_100 site_color pointer" routerLink="/blogs">view all <mat-icon>keyboard_arrow_right</mat-icon></div>
        </div>
      </div>
      <div class="_flex _flex_align_item_center">
        <div class="_flex_col">
          <div class="section_bold_text">Join our mailing list</div>
          <div>Get started to find meaning in the marketplace</div>
          <div class="email_wrapper">
            <app-email-input></app-email-input>
          </div>
        </div>
        <img src="../../../../assets/images/discover.svg">
      </div>
    </div>
  </section>
</main>
