<!-- <div>
  <div class="_flex _justify_center _flex_align_item_center main_wrapper">
    <div class="_flex_col _flex_align_item_center _space_evenly main_content">
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="title_text">MARKETPLACE</div>
        <div class="title_subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum
          dolor vel tempus pulvinar. Ut vitae leo metus. Duis felis metus,
        </div>
      </div>
      <div class="_flex _flex_align_item_center _space_between width_100" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
        <div class="_flex_col _flex_align_item_center main_cards width_33">
          <img src="/assets/images/learn.svg">
          <div class="card_title">LEARN</div>
        </div>
        <div class="_flex_col _flex_align_item_center main_cards width_33">
          <img src="/assets/images/question.svg">
          <div class="card_title">QUESTION</div>
        </div>
        <div class="_flex_col _flex_align_item_center width_33">
          <img src="/assets/images/discover.svg">
          <div class="card_title">DISCOVER</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let card of landingCards; let first = first">
    <div class="_flex _justify_center" *ngIf="!first">
      <div class="seperator"></div>
    </div>
    <app-landing-page-card [config]="card"></app-landing-page-card>
  </div>
</div> -->

<main class="main">
  <section class="section static static-one">
    <div class="_flex_col _flex_align_item_start">
      <div class="title_text">MARKETPLACE</div>
      <div class="title_subtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum
        dolor vel tempus pulvinar. Ut vitae leo metus. Duis felis metus,
      </div>
      <div class="_flex">
        <div>Join us to:</div>
        <div id="element"></div>
      </div>
    </div>
  </section>
  <div class="_flex">
    <div class="section static static-three" fxFlex="50%">test</div>
    <div fxFlex="50%">
      <section class="section parallax_half parallax-two">
        <div style="color: white">fake test</div>
      </section>
    </div>
  </div>

  <section class="section static static-two">fake text</section>
  <section class="section parallax_full parallax-two"></section>
  <section class="section static static-three height_100">
    <div class="_flex_col _flex_align_item_center">
      <div class="_flex _flex_align_item_center">
        <div class="_flex_col _flex_align_item_center">
          <div class="section_header_text">Latest from our <span class="site_color">blog:</span></div>
          <div class="_flex">
            <app-blog-card></app-blog-card>
            <app-blog-card></app-blog-card>
            <app-blog-card></app-blog-card>
          </div>
          <div>view all</div>
        </div>
      </div>
      <div class="_flex _flex_align_item_center">
        <div class="_flex_col">
          <div class="section_bold_text">Join our mailing list</div>
          <div>Get started to find meaning in the marketplace</div>
          <div class="email_wrapper">
            <app-email-input></app-email-input>
          </div>
        </div>
        <img src="../../../../assets/images/discover.svg">
      </div>
    </div>

  </section>
</main>
