@import "../../../../assets/scss/main.scss";

.main_wrapper {
  background-color: #91b7c7;
}

.main_cards {
  border-right: 4px dotted;
}

.card_title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.width_33 {
  width: 33%;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100% !important;
}

.site_color {
  color: $site-pink;
}

.title_text {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 3px;
}

.title_subtext {
  font-size: 24px;
  letter-spacing: 0.36px;
  font-weight: 500;
  text-align: center;
}

.section_regular_text {
  font-size: 20px;
  letter-spacing: 0.36px;
}

.section_bold_text {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.36px;
}

.section_header_text {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.seperator {
  width: 60%;
  height: 2px;
  background-color: #c1c1c1;
}

.info_card {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.info_card_title {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0px;
  font-style: italic;
}

.bible_study_img {
  width: 600px;
}

img {
  height: 400px;
}

.email_wrapper {
  margin: 20px 0px;
}

.workshop_cards {
  common-flip-card {
    margin: 15px;
  }
}

.pointer {
  cursor: pointer;
}

.main {
  //height: 100vh;
  perspective: 2px;
  overflow-x: hidden;
}

.first_section {
  padding-top: 10rem;
}

.w1 {
  fill: #800080;
}

.w2 {
  fill: #660066;
}

.w3 {
  fill: #f6efe8;
}

.section {
  padding: 70px;
  // height: 600px;
}

.static-one {
  background-color: #330033;
  color: white;
}

.static-two {
  background-color: #aacfcf;
}

.static-three {
  background-color: rgb(247, 250, 255);
}

.static-four {
  background-color: #f6efe8;
}

.static {
  z-index: 2;
}

.parallax_full {
  height: 500px;
}

.parallax_half {
  height: 600px;
}

.parallax_full::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax_half::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax-one::after {
  background-image: url("/assets/images/cross.jpg");
}

.parallax-two::after {
  background-image: url("/assets/images/bible.jpg");
}

.desc_icon {
  color: #ff0067;
  font-size: 70px;
  height: 70px;
  width: 70px;
}

app-icon-button {
  margin: 15px;
}

/* RESPONSIVE */ 

@media only screen and (max-width: 960px) {
  img {
    width: 150px;
    height: 150px;
  }
}