<div>
  <div class="_flex _justify_center _flex_align_item_center main_wrapper">
    <div class="_flex_col _flex_align_item_center _space_evenly main_content">
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="title_text">MARKETPLACE</div>
        <div class="title_subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum
          dolor vel tempus pulvinar. Ut vitae leo metus. Duis felis metus,
        </div>
      </div>
      <div class="_flex _flex_align_item_center _space_between width_100" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
        <div class="_flex_col _flex_align_item_center main_cards width_33">
          <img src="/assets/images/learn.svg">
          <div class="card_title">LEARN</div>
        </div>
        <div class="_flex_col _flex_align_item_center main_cards width_33">
          <img src="/assets/images/question.svg">
          <div class="card_title">QUESTION</div>
        </div>
        <div class="_flex_col _flex_align_item_center width_33">
          <img src="/assets/images/discover.svg">
          <div class="card_title">DISCOVER</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let card of landingCards">
    <app-landing-page-card [config]="card"></app-landing-page-card>
  </div>
</div>
