@import "../../../../assets/scss/main.scss";

.carousel_title {
  font-size: 30px;
  font-weight: 500;
}

.carousel_subtext {
  color: #c1c1c1;
  margin-bottom: 20px;
}

img {
  width: 50% !important;
}
