<carousel [cellsToShow]="1" [transitionDuration]="800" [height]="400" [arrowsTheme]="'dark'" (click)="onClickCarousel()">
  <div class="_flex _justify_center carousel-cell">
    <div class="_flex_col">
      <div class="carousel_title">Image 1</div>
      <div class="carousel_subtext">Branding & packaging design</div>
      <div>Apparel that gives you fund and classic vibes</div>
    </div>
    <img src="/assets/images/Keep calm.jpg" />
  </div>
  <div class="_flex _justify_center carousel-cell">
    <div class="_flex_col">
      <div class="carousel_title">Image 2</div>
      <div class="carousel_subtext">Branding & packaging design</div>
      <div>Apparel that gives you fund and classic vibes</div>
    </div>
    <img src="/assets/images/with-hawkers.jpg" />
  </div>
  <div class="_flex _justify_center carousel-cell">
    <div class="_flex_col">
      <div class="carousel_title">Image 3</div>
      <div class="carousel_subtext">Branding & packaging design</div>
      <div>Apparel that gives you fund and classic vibes</div>
    </div>
    <img src="/assets/images/street-food.jpg" />
  </div>
</carousel>
