<carousel [cellsToShow]="1" [transitionDuration]="800" [height]="400" [arrowsTheme]="'dark'" (click)="onClickCarousel()">
  <div class="_flex _justify_center carousel-cell">
    <div class="_flex_col">
      <div class="carousel_title">Wildbox Venturax</div>
      <div class="carousel_subtext">Branding & packaging design</div>
      <div>Apparel that gives you fund and classic vibes</div>
    </div>
    <img src="/assets/images/image1.jpg" />
  </div>
  <div class="_flex _justify_center carousel-cell">
    <div class="_flex_col">
      <div class="carousel_title">Smoked Salmon</div>
      <div class="carousel_subtext">Branding & packaging design</div>
      <div>Apparel that gives you fund and classic vibes</div>
    </div>
    <img src="/assets/images/image2.jpg" />
  </div>
  <div class="_flex _justify_center carousel-cell">
    <div class="_flex_col">
      <div class="carousel_title">Toronto & Raptors</div>
      <div class="carousel_subtext">Branding & packaging design</div>
      <div>Apparel that gives you fund and classic vibes</div>
    </div>
    <img src="/assets/images/meeting.jpg" />
  </div>
</carousel>
