<p class="content">
  There’s and old Chinese saying: <i>“Reflect on your past to discover your
    future.”</i> Now look back on your career to date by constructing a timeline.
  Discover strengths and weaknesses, pinnacles and troughs, and defining moments
  in your career.
</p>

<h1 class="title is-1">My Journey @ Work</h1>
<h3 class="subtitle is-3"><i>Four</i> key questions</h3>

<p class="content">
  Think about the highs and lows of your work life in the past week or month.
  Look at each major incident and ask:
</p>

<div class="content">
  <ol type="1">
    <li>What happened?</li>
    <li>Why did it happen?</li>
    <li>Where was Jesus when it happened? What was he doing?</li>
    <li>What did you learn from that incident?</li>
  </ol>
</div>

<div class="content">
  <ul>
    <li>Write down key words and ideas that come to mind.</li>
    <li>Speak quietly with Jesus as you walk through each even again.</li>
    <li>Be honest. This is strictly confidential.</li>
    <li>
      Based on what you have discovered during your reflection, what have you
      learned about yourself?
    </li>
    <li>How will you move on?</li>
  </ul>
  
</div>

<p class="content">This prayer will help you start...</p>

<h5 class="title is-5">
  <i>
    "Investigate my life, O God, find out everything about me; Cross-examine and
    test me, get a clear picture of what I'm about; See for yourself whether
    I've done anything wrong - then guide me on the road to eternal life."
  </i>
</h5>
<p class="subtitle">(Ps 139: 23-24, <i>The Message</i>)</p>

<a
  class="_flex _flex_align_item_center download_button"
  href="../../../assets/files/Journey at Work_Eng 122720.docx"
  download
>
  <mat-icon>get_app</mat-icon>
  <div>Download File</div>
</a>
