@import '../../../../assets/scss/layout.scss';

.title {
  font-size: 44px;
  font-weight: bold;
}

.subheaders {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

mat-icon {
  cursor: pointer;
  margin-left: 5px;
}

mat-icon:hover {
  color: #0645AD ;
}