@import '../../../../assets/scss/main.scss';

.outline_wrapper {
  padding: 70px;
  margin-top: 64px;
}

.title {
  font-size: 55px;
  font-weight: bold;
}

.subheaders {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.socials_links {
  margin-top: 5rem;
}

mat-icon {
  cursor: pointer;
  margin-left: 5px;
}

mat-icon:hover {
  color: $site-blue;
}