<div class="_flex _flex_align_item_center">
  <div class="title">Course: {{ outline?.title }}</div>
  <mat-icon tooltipInfoPopup [tooltipText]="'Click to download'"
    >get_app</mat-icon
  >
</div>

<div>{{ outline?.date }}</div>
<div>{{ outline?.description }}</div>
<div class="_flex">
  <div>Instructors:</div>
  <div *ngFor="let instructor of outline?.instructors; let last = last">
    {{ instructor }}
  </div>
</div>
<app-table [columnDefs]="columnDefs" [rowDefs]="rowDefs"></app-table>
<div class="subheaders">Kep scripture references</div>
<ul>
  <li *ngFor="let scripture of outline?.scriptures">{{ scripture }}</li>
</ul>
<div class="subheaders">Questions</div>
<div *ngFor="let question of outline?.questions">
  <div>{{ question }}</div>
</div>
