<div class="_flex _justify_end">
  <mat-icon class="close" (click)="onClickClose()">close</mat-icon>
</div>
<div class="_flex _flex_align_item_start block">
  <img class="is-rounded" src="/assets/images/david-type.jpg" />

  <div class="_flex_col">
    <div class="name_text">Rev. Dr. David Lau</div>
    <div>Marketplace Pastor</div>
  </div>
</div>
<div class="block">
  <h3 class="title is-3"><i>From TV producer to pastor</i></h3>
  <p class="content">
    Many have asked me how I became involved in people’s work lives. It started
    with a question that popped up on my way to work: “Am I pulling 60 hours a
    week just to earn a pay cheque?” I asked pastors and seminary professors. I
    raided the library. There was no simple answer, only more questions.
  </p>
  <p class="content">
    <i
      >Given the ethical, moral, and relational challenges in our workplaces,
      wouldn’t it be better to leave the secular marketplace for church
      ministry? What did our day jobs have to do with our Christian faith? Was
      it holier to leave the office early for a prayer meeting? Where was God in
      our confrontation with management? Did God even care how we went about our
      daily tasks, so long as we paid our weekend dues? Why did church people
      avoid sharing about their work when it dominated more than one-third of
      their lives?</i
    >
  </p>
  <p class="content">
    As I wrestled with these issues, I eventually found biblical and theological
    direction from several people. I’m indebted to Paul Stevens, whose book The
    Other Six Days reframed my mind to see work as part of our life calling in
    Jesus Christ and service to the world. I had the honor of meeting theologian
    Miroslav Volf at a Yale conference in 2005, and of reading his book Work in
    the Spirit. In that gathering, I heard from many other scholars and pastors
    who were eager to recover daily work as part of the church’s ministry in the
    world.
  </p>
  <ul>
    <li>Helping people survive an increasingly challenging workplace</li>
    <li>Discovering purpose in daily work</li>
    <li>Understanding work as part of our life calling</li>
    <li>Fulfilling God's purpose of redeeming the marketplace</li>
  </ul>
  <p class="content">
    Over the next 15 years, as part of the pastoral team at Richmond Hill
    Christian Community Church, I had the privilege of listening to countless
    stories of success and failure, suffering and sacrifice, indecision and
    clarity, and regret and renewal from people of the marketplace. I saw lives
    transformed as the Holy Spirit of God moved people into uncommon acts of
    kindness.
  </p>
  <p class="content">
    Some of these stories have been documented as case studies in a research
    project between 2009 and 2013, called <b>Kingdom Workers</b>. I finished my
    Doctor of Ministry thesis in 2015, but I’m still gathering more stories to
    inspire and evoke conversation on Christians in the marketplace!
  </p>
  <p class="content">
    This website forms the basis of my ministry to everyone who sees more in
    their daily work than a way to put food on the table. As we explore meaning,
    mission and ministry in our marketplaces, I pray the Lord’s blessing,
    restoration, and peace on you and your every endeavor.
  </p>
  <div class="margin_top_20">
    <p class=" is-6">Feel free to contact me at:</p>
    <a href="mailto:david@work-as-mission.com">david@work-as-mission.com</a>
  </div>
</div>
