<div class="_flex _justify_end">
  <mat-icon class="close" (click)="onClickClose()">close</mat-icon>
</div>
<div class="_flex _flex_align_item_center">
  <img src="/assets/images/david.jpg" />
  <div class="_flex_col">
    <div class="name_text">Rev. Dr. David Lau</div>
    <div>Pastor of Cultivation</div>
  </div>
</div>
<div class="margin_top_20">
  <div class="_flex _flex_align_item_center">
    <mat-icon class="social_icon">email</mat-icon>
    <div>testEmail@gmail.com</div>
  </div>
  <div class="_flex _flex_align_item_center">
    <mat-icon class="social_icon">call</mat-icon>
    <div>123-456-4019</div>
  </div>
</div>
