@import "../../../../assets/scss/main.scss";

.button_wrapper {
  padding: 15px 25px;
  margin: 10px 0px;
  cursor: pointer;
  outline: none;
  background-color: #cb4e4e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #ab3c3c;
}

.button_wrapper:hover {
  background-color: #b64646
}

.button_wrapper:active {
  background-color: #cb4e4e;
  box-shadow: 0 5px #ab3c3c;
  transform: translateY(4px);
}

.button_text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
