@import "../../../../assets/scss/main.scss";

.button_wrapper {
  padding: 15px 25px;
  margin: 10px 0px;
  cursor: pointer;
  outline: none;
  background-color: $site-pink;
  border: none;
  border-radius: 10px;
}

.button_wrapper:hover {
  background-color: #cc0052;
  box-shadow: 0px 3px 6px #c1c1c1;
}

.button_text {
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}
