@import "../../../assets/scss/main.scss";

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d9e2f3;
}

.letter {
  background: #fff;
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.16);
  margin: 26px auto 0;
  padding: 24px;
  position: relative;
  width: 80%;
}

.middle_box {
  border-top: 6px solid #5b9bd5;
  border-bottom: 6px solid #5b9bd5;
  margin-top: 20px;
}

.subway_image {
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  width: 80%;
}
