<div class="letter">
  <h1 class="title is-1">Excel in service</h1>
  <p class="content">
    <i
      >Joe is branch manager of a bank. He takes his job and the Christian
      gospel very seriously, which is why he never misses a chance to talk about
      Jesus. But some clients didn’t appreciate his mixing business with
      personal faith. One of them eventually filed a complaint with the bank.
      After hearing Joe’s explanation, his manager reminded him: “You’ve always
      done a good job for the bank and our customers. Please remember that we’re
      paying you to take care of people’s money, not to be an evangelist!”</i
    >
  </p>
  <p class="content">
    Praying for people is never a substitute for honest service and
    uncompromising work. Neither is sharing the good news of Jesus Christ. No
    matter how encouraging, comforting, or life-giving the message is, the right
    to share it needs to be earned. In a marketplace that’s often filled with
    skepticism (if not distrust), competition, and greed, this means delivering
    on our promises. We put in a fair day’s work to offer our service with a
    smile.
  </p>
  <p class="content">
    We do tend to think that our jobs are particularly difficult, or we have the
    worst possible coworkers, supervisors, and clients. Yes, life is hard, and
    people can be trying. But when we decide to treat work as mission, we learn
    to see it through a new lens. As we make that commitment, change is already
    happening in your heart and mind.
  </p>
  <h2 class="title is-2">Adding value</h2>
  <p class="content">
    Back when I was a rookie editor, my mentor often asked me: “What are you
    bringing to the table?” At first I was stumped. Then I thought of my job
    description, and then how my skill set exceeded requirements. Then I
    secretly matched myself against my coworkers. Before I realized it, their
    shortcomings loomed larger than life and I was begrudging how “unfairly” the
    company was treating me. Oh yes, I was going to let them have it in the next
    staff meeting.
  </p>
  <p class="content">
    The same question came: “What are you bringing to the table? What can you
    offer to get things moving in the right direction?”
  </p>
  <p class="content">
    It took me 20 years to figure out not only the importance of adding value,
    but <i>how</i> to add value. I pray that you’re way ahead of me. Let me try
    to summarize. To add value is to:
  </p>
  <div class="content">
    <ul>
      <li>Know your strengths without getting carried away.</li>
      <li>See the needs of the team without being overly critical.</li>
      <li>Prepare to offer yourself and stand in the gap.</li>
      <li>Know when to speak up and when to hold you peace.</li>
      <li>Make others succeed, sometimes even at your own expense.</li>
    </ul>
  </div>
  <p class="content">
    I’d be the first to admit that I don’t have a perfect score! We come to this
    with different kinds of baggage, but I do know people who continue to
    overcome negativity and rise above the mediocre. One of them is Denis, a
    software developer. In an industry that’s notoriously demanding in terms of
    new learning, our man thrives on sharing what he knows with colleagues.
    “There’s no way I can master and do everything all the time. I might as well
    do my part to make life easier for others,” he said.
  </p>
  <p class="content">
    People and institutions can appear quite hopeless at times, but we don’t
    need to go down the tubes with them. If we want to see transformation in our
    marketplaces, let’s start with ourselves! Be the change!
  </p>
  <p class="content">
    Complete the left-hand column using your job description, then ask yourself
    honestly what you bring to the table:
  </p>
  <h2 class="title is-2">Review your week</h2>
  <p class="content">
    While it’s best to take 5 to 10 minutes at the end of each day for
    reflection, many may find it too much to begin with. You may want to try a
    weekly review. Pray and ask the Lord to reveal any blind spots. Write down
    the thoughts that come to mind using the table as a reference:
  </p>
  <div class="content">
    <ul>
      <li>Who are the people I served?</li>
      <li>Did I purposely allow anyone to interrupt my day?</li>
      <li>What have I learned to improve myself?</li>
      <li>How was Jesus involved, as far as I can discern?</li>
    </ul>
  </div>
</div>
