// xs = 'screen and (max-width: 599px)'
// sm = 'screen and (min-width: 600px) and (max-width: 959px)'
// md = 'screen and (min-width: 960px) and (max-width: 1279px)'

._flex {
  display: flex;
}

._flex_col {
  display: flex;
  flex-direction: column;
}

._flex_align_item_center {
  align-items: center;
}

._space_between {
  justify-content: space-between;
}

._space_around {
  justify-content: space-around;
}

._space_evenly {
  justify-content: space-evenly;
}

._justify_center {
  justify-content: center;
}

._justify_end {
  justify-content: flex-end;
}