@import "../../../../assets/scss/main.scss";
input[type="text"] {
  color: rgba(33, 36, 44, 0.54);
  padding: 0px 30px;
  border-radius: 24px;
  border-width: 0px;
  border-color: #e9ebf4;
  height: 45px;
  background-color: #e9ebf4;
  min-width: 330px;
  outline: 0;
  font-size: 15px;
}

input[type="submit"] {
  margin-left: -110px;
  width: 110px;
  font-weight: bold;
  border-radius: 25px;
  letter-spacing: 0.5px;
  background: #ff0067;
  color: white;
  border: 0;
  height: 45px;
  cursor: pointer;
}
