<div class="ministry_work__wrapper">
  <div class="title_text">Ministry @ Work</div>
  <p>
    Here’s your step-by-step approach to serving God and people in your marketplace.
  </p>

  <div class="ministry_work__header">
    <h1 class="title is-1">Bless your marketplace</h1>
    <p class="content"><i>You’ve got more influence than you think!</i></p>
  </div>

  <div class="ministry_work__header">
    <h1 class="title is-1">Serve to excel</h1>
    <p class="content">Exceed customer expectations!</p>
  </div>

  <div class="ministry_work__header">
    <h1 class="title is-1">Declare hope!</h1>
  </div>
</div>
