@import "../../../../assets/scss/main.scss";

.ministry_work__wrapper {
  padding: 70px;
  margin-top: 64px;
}

.title_text {
  font-size: 4rem;
  margin-bottom: 20px;
}

.ministry_work__header {
  background-color: $background-yellow;
  padding: 1rem;
  margin: 40px 0px;
}
