<div class="ministry_banner _flex _justify_center _flex_align_item_center">
  <h1 class="title_text">Ministry @ Work</h1>
  <img
    src="../../../../assets/images/crosses.jpg"
    class="banner_image"
    *ngIf="show"
  />
</div>
<div class="ministry_work__wrapper">
  <div *ngIf="show">
    <div class="columns is-centered is-vcentered">
      <div class="column is-one-quarter">
        <h1 class="title is-1">Ministry is service.</h1>
        <p class="subtitle">
          To those who follow Jesus, ministry is never just about what we do
          inside a church.
        </p>
      </div>
      <div class="column is-one-quarter">
        <p class="content">
          When we take our work as ministry, we serve people and God through our
          daily activities in the marketplace. We strive to do the maximum good
          using finite resources. We move by faith trusting that God is with us.
          We bless people through prayer. We Exceed client expectations. We
          cultivate positive relationships.
        </p>
      </div>
    </div>
    <common-middle-seperator [config]="middleBanner"></common-middle-seperator>

    <div class="columns">
      <div class="column">
        <common-image-description
          [title]="'Bless your marketplace'"
          [description]="'You’ve got more influence than you think!'"
          [image]="'making_coffee.jpg'"
          [route]="'bless-your-marketplace'"
          (routeChange)="onChange($event)"
        ></common-image-description>
      </div>
      <div class="column">
        <common-image-description
          [title]="'Serve to excel'"
          [description]="'Exceed customer expectations!'"
          [route]="'bless-your-marketplace'"
          (routeChange)="onChange($event)"
        ></common-image-description>
      </div>
      <div class="column">
        <common-image-description
          [title]="'Declare hope!'"
          [description]="'Exceed customer expectations!'"
          [route]="'bless-your-marketplace'"
          (routeChange)="onChange($event)"
        ></common-image-description>
      </div>
    </div>
  </div>
  <button class="button is-primary" *ngIf="!show">Back</button>
  <router-outlet></router-outlet>
</div>
