<div class="landing_page_wrapper">
  <div
    class="_flex _flex_align_item_center _space_between margin_bottom_5rem header_section"
  >
    <div class="_flex_col header_column1">
      <div></div>
      <h1 class="title is-1">Work as Mission</h1>
      <div class="title_subtext subtitle">
        Transforming the marketplace through purposeful work
      </div>
      <div class="title_passage">
        Whatever you do, work at it with all your heart, as working for the
        Lord, not for men.
        <br />
        <span>(Colossians 3:23)</span>
      </div>
      <div class="about_button">
        <mat-icon>call_made</mat-icon>
      </div>
      <div class="header_subtext">Proudly working with <span>RHCCC</span></div>
    </div>
    <img src="/assets/images/teaching.svg" class="header_image" />
    <!-- <div class="_flex_col _justify_end header_column2">
      <div>- OUR MISSION</div>
      <div>
        Christianity driven <br />
        workplace
      </div>
      <div>Discover Tools</div>
    </div> -->
  </div>

  <div class="_flex section_2">
    <div class="section_2_left">
      <h1 class="title is-1">Our Mission.</h1>
      <p class="subtitle">
        To help people discover meaning, mission and ministry in their work.
      </p>
      <p class="content">
        Welcome to <span>Work-as-Mission</span>, where ordinary people discover
        how to make a difference through purposeful work. You can discover your
        mission and fulfill it. You’ll find tools to get you started and ideas
        to help you press on. Connect with like-minded partners as you clarify
        your purpose!
      </p>
    </div>
    <img src="/assets/images/studying2.jpg" class="workshops_image" />
  </div>

  <div class="_flex section_2">
    <img src="/assets/images/making_coffee.jpg" alt="Making coffee" />
    <div class="section_2_right">
      <h1 class="title is-1">You can make a difference at work!</h1>
      <div class="subtitle">
        You are God’s masterpiece. You have a destiny to fulfill.
      </div>
      <div class="content">
        Your situation may seem otherwise right now. You may see yourself as a
        nobody at work, perhaps at the mercy of your boss yet having to put on
        your best smile for customers. You may be looking for a job, or
        pondering a new career, or even asking God to lead you into the clergy.
        You may be seeking a new direction. But God says you are His
        masterpiece, and you are destined to take part in His amazing work
        (Ephesians 2:10). As long as you are in the marketplace, you need to
        discover your unique role and make a difference.
      </div>
      <p class="content">
        God is not confined to a church building. His work of renewal and
        transformation reaches into every corner of society! Jesus commissioned
        us to bring the Good News to people everywhere – to show and tell them
        that God wants to renew the world, including our marketplaces! This
        Great Commission does not stop with sharing a gospel tract, but requires
        us to live faithfully and consistently at work.
      </p>
      <p class="content">
        Are you absolutely clear about your role in the marketplace? Why did God
        put you in your present profession? Are you aware of Jesus’ presence in
        the workplace? Did you know that the Holy Spirit is your
        <b><i>Partner</i></b> at work? We invite you to dig deeper and join us
        on a journey of discovery!
      </p>
    </div>
  </div>

  <div class="_flex _flex_align_item_start _space_between section_1">
    <div class="section_1_text" fxFlex="60%">
      Resources and materials to help you find purpose and drive in your work
    </div>
    <div class="_flex_col" fxFlex="30%">
      <div class="_flex _space_between _flex_wrap">
        <div class="_flex_col" id="div_courses">
          <div class="info_card_title">10+</div>
          <div class="info_card_desc">COURSES</div>
        </div>
        <div class="_flex_col">
          <div class="info_card_title">15+</div>
          <div class="info_card_desc">WORKSHOPS</div>
        </div>
      </div>
      <!-- <div class="_flex _space_between _flex_wrap">
        <div class="_flex_col" id="div_instructors">
          <div class="info_card_title">5+</div>
          <div class="info_card_desc">INSTRUCTORS</div>
        </div>
        <div class="_flex_col">
          <div class="info_card_title">230+</div>
          <div class="info_card_desc">STUDENTS</div>
        </div>
      </div> -->
    </div>
    <div class="section1_corner">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
        tortor convallis, tempus nisi ut, vulputate augue. Sed neque tortor,
        maximus consequat lobortis id, viverra ut ligula.
      </div>
    </div>
  </div>

  <!-- <div
    class="_flex _space_between margin_bottom_5rem"
    id="common_solid_info_card_section"
  >
    <common-solid-info-card></common-solid-info-card>
    <common-solid-info-card></common-solid-info-card>
  </div> -->

  <div class="_flex section_2">
    <div class="_flex_col _space_between section_2_left" fxFlex="50%">
      <div class="_flex_col" fxFlex="100%">
        <div class="section_header_subtext">
          Purpose driven lessons <span>Specific scenarios</span>
        </div>
        <h1 class="title is-1">Mission @ Work</h1>
        <div class="_flex_col block">
          <h4 class="title is-4">Where are you?</h4>
          <p class="subtitle">Find out with the Reality Challange</p>
        </div>
        <div class="_flex_col block">
          <h4 class="title is-4">Where have you been?</h4>
          <p class="subtitle">Rediscover your experience and strengths</p>
        </div>
        <div class="_flex_col block">
          <h4 class="title is-4">Make your move!</h4>
          <p class="subtitle">Release yourself!</p>
        </div>
      </div>
      <div
        class="_flex _flex_align_item_center _justify_center view_more_button"
        id="workshops_view_more_button"
        (click)="onClickChangeRoute('mission-@-work')"
      >
        <div>View more</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>

    <img src="/assets/images/studying2.jpg" class="workshops_image" />
  </div>

  <!-- <div class="margin_bottom_5rem">
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col">
        <div class="_flex_col">
          <div class="section_header_subtext">
            Course outlines <span>Specific scenarios</span>
          </div>
          <div class="section_header_text" id="course_header_text">
            Learn together, <br />
            see progress together
          </div>
        </div>
      </div>
      <div
        class="_flex _flex_align_item_center _justify_center view_more_button"
      >
        <div>View more</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
    <div
      class="_flex_col _flex_align_item_center margin_bottom_20 _justify_center"
    >
      <div class="section_header_text text_center">
        A community for <br />
        your journey
      </div>
    </div>
    <div class="section_header_subtext margin_bottom_20">
      With over 30 courses, learn the skills <br />
      necessary to thrive at work
    </div>
    <common-image-carousel></common-image-carousel>
  </div> -->

  <div class="_flex case_section">
    <img src="/assets/images/studying3.jpg" class="workshops_image" />
    <div class="_flex_col _space_between section_2_right" fxFlex="50%">
      <div class="_flex _justify_start">
        <div class="_flex_col" fxFlex="100%">
          <div class="section_header_subtext">
            Relatable experiences <span>Personal stories</span>
          </div>
          <h1 class="title is-1">Ministry @ Work</h1>

          <div class="columns is-multiline">
            <div class="column is-half">
              <h4 class="title is-4">Bless your marketplace</h4>
              <p class="subtitle">You've got more influence than you think!</p>
            </div>
            <div class="column is-half">
              <h4 class="title is-4">Excel in service</h4>
              <p class="subtitle">Be intentional. Serve with a smile.</p>
            </div>
            <div class="column is-half">
              <h4 class="title is-4">Declare hope!</h4>
              <p class="subtitle">
                Let peace, joy and hope fill your sphere of activity
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="_flex _flex_align_item_center _justify_center view_more_button"
        id="case_studies_view_more_button"
        (click)="onClickChangeRoute('ministry-@-work')"
      >
        <div>View more</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
  </div>

  <div class="_flex_col margin_bottom_5rem">
    <div class="_flex _justify_end" id="prepare_yourself_section">
      <div
        class="_flex _space_between _flex_align_item_center margin_bottom_20"
        fxFlex="100%"
      >
        <div class="_flex_col">
          <div class="section_header_subtext">Tools for the workplace</div>
          <h1 class="title is-1">
            Prepare yourself in <br />
            the workplace
          </h1>
        </div>
        <div
          class="_flex _flex_align_item_center _justify_center view_more_button"
          (click)="onClickChangeRoute('toolbox')"
        >
          <div>View toolbox</div>
          <mat-icon>trending_flat</mat-icon>
        </div>
      </div>
    </div>
    <div
      class="_flex _flex_align_item_center _space_between"
      fxFlex="100%"
      id="workplace_section"
    >
      <div class="_flex tools_info">
        <div class="_flex_col" id="workplace_tools_section">
          <div class="_flex_col block">
            <h4 class="title is-4">Reality Challenge</h4>
            <p class="subtitle">
              Take the Reality Challenge and see where you stand in the
              marketplace
            </p>
          </div>
          <div class="_flex_col block">
            <h4 class="title is-4">Journey @ Work</h4>
            <p class="subtitle">Learn from the highs and lows of your career</p>
          </div>
          <div class="_flex_col block">
            <h4 class="title is-4">Ministry @ Work</h4>
            <p class="subtitle">
              Take your work to a higher level and make a real difference
            </p>
          </div>
          <div class="_flex_col block">
            <h4 class="title is-4">And more...</h4>
          </div>
        </div>
        <img src="/assets/images/crosses.jpg" class="tools_image" />
      </div>
      <div class="_flex_col" fxFlex="20%" id="workplace_text">
        <p class="content">
          Here are some tools that we have developed over the years to help
          people sort out where they are, where they have been, and where they
          potentially can go.
        </p>
        <p class="content"> We hope they will draw you ever closer to the One
          who labors with you every day in every situation.</p>
      </div>
    </div>
  </div>

  <!-- <div class="blog_section">
    <div class="_flex_col _space_between blog_section_header">
      <div class="_flex _space_between _flex_align_item_center width_100">
        <div class="_flex_col">
          <div class="section_header_subtext">Blogs</div>
          <h1 class="title is-1">
            Read. Learn. Understand. <br />
            Apply to your life
          </h1>
        </div>
        <div
          class="_flex _flex_align_item_center _justify_center view_more_button"
        >
          <div>View blogs</div>
          <mat-icon>trending_flat</mat-icon>
        </div>
      </div>
    </div>
    <div class="_flex _space_between">
      <div class="blog_section_content" fxFlex="50%">
        <div class="_flex_col _flex_align_item_end workshops_info_wrapper">
          <div class="text_align_right">Understanding my role</div>
          <div class="text_end">
            Work smart and hard <br />
            but work in God's timing
          </div>
        </div>
        <div class="_flex_col workshops_info_wrapper">
          <div>Understanding my role</div>
          <div>
            Work smart and hard <br />
            but work in God's timing
          </div>
        </div>
        <div class="_flex_col _flex_align_item_end workshops_info_wrapper">
          <div class="text_align_right">Continuing to learn</div>
          <div class="text_end">
            Even at the peak of <br />
            your career, learn to move forward
          </div>
        </div>
        <div class="_flex_col workshops_info_wrapper">
          <div>Purpose driven</div>
          <div>
            Find drive and <br />
            passion at work to move
          </div>
        </div>
      </div>
      <img src="/assets/images/reading.jpg" class="blog_image" />
    </div>
  </div> -->

  <!-- <div
    class="_flex _space_around count_card_wrapper margin_bottom_5rem width_100"
  >
    <div class="_flex_col count_card">
      <div class="_flex _flex_align_item_center _space_between">
        <div>64</div>
        <mat-icon>donut_large</mat-icon>
      </div>
      <div>Videos</div>
      <div>Get started to find meaning in the marketplace</div>
      <common-button [title]="'Videos'"></common-button>
    </div>
    <div class="_flex_col count_card">
      <div class="_flex _flex_align_item_center _space_between">
        <div>18</div>
        <mat-icon>class</mat-icon>
      </div>
      <div>Podcasts</div>
      <div>Get started to find meaning in the marketplace</div>
      <common-button [title]="'Podcasts'"></common-button>
    </div>
    <div class="_flex_col count_card">
      <div class="_flex _flex_align_item_center _space_between">
        <div>32</div>
        <mat-icon>eco</mat-icon>
      </div>
      <div>Songs</div>
      <div>Get started to find meaning in the marketplace</div>
      <common-button [title]="'Songs'"></common-button>
    </div>
  </div> -->

  <div class="_flex _flex_align_item_center _justify_center margin_bottom_5rem">
    <div class="_flex _flex_align_item_center">
      <div class="_flex_col">
        <h1 class="title is-1">Feel free to shoot us an email!</h1>
        <p class="subtitle">
          We'd love to hear from you - questions, feedback, or to say hi!
        </p>
        <div class="email_wrapper">
          <app-email-input></app-email-input>
        </div>
      </div>
      <img src="../../../../assets/images/david-type.jpg" class="email_image" />
    </div>
  </div>
</div>
