@import "../../../../assets/scss/main.scss";

.main_wrapper {
  background-color: #91b7c7;
}

.main_cards {
  border-right: 4px dotted;
}

.card_title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100% !important;
}

.text_center {
  text-align: center;
}

.text_end {
  text-align: end;
}

.title_text {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.title_subtext {
  font-size: 30px;
  margin-bottom: 2rem;
}

.title_passage {
  margin-bottom: 2rem;
  font-style: italic;

  span {
    font-style: normal;
  }
}

.section_regular_text {
  font-size: 20px;
  letter-spacing: 0.36px;
}

.section_bold_text {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.36px;
}

.info_card_title {
  font-size: 50px;
  font-weight: 500;
  margin: 10px 0px;
  color: #f57921;
}

.info_card_desc {
  font-weight: 500;
  letter-spacing: 1px;
}

.bible_study_img {
  width: 600px;
}

img {
 height: 400px;
}

.email_image {
  border-radius: 40px;
  margin-left: 40px;
  height: 350px;
}

.email_wrapper {
  margin: 20px 0px;
}

.workshop_cards {
  common-flip-card {
    margin: 15px;
  }
}

.pointer {
  cursor: pointer;
}

.main {
  //height: 100vh;
  perspective: 2px;
  overflow-x: hidden;
}

.section {
  padding: 70px;
  // height: 600px;
}

.static-one {
  background-color: #330033;
  color: white;
}

.static-two {
  background-color: #aacfcf;
}

.static-three {
  background-color: rgb(247, 250, 255);
}

.static-four {
  background-color: #f6efe8;
}

.static {
  z-index: 2;
}

.parallax_full {
  height: 500px;
}

.parallax_half {
  height: 600px;
}

.parallax_full::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax_half::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.parallax-one::after {
  background-image: url("/assets/images/cross.jpg");
}

.parallax-two::after {
  background-image: url("/assets/images/bible.jpg");
}

.desc_icon {
  color: #ff0067;
  font-size: 50px;
  height: 50px;
  width: 50px;
}

app-icon-button {
  margin: 15px;
}

.landing_page_wrapper {
  padding: 0 15rem;
}

.header_section {
  //height: 650px;
  height: min-content;
}

.header_image {
  max-width: 866px;
  width: 75%;
  max-height: 650px;
  height: auto;
}

.header_column1 {
  div:nth-child(1) {
    color: #c1c1c1;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.header_column2 {
  height: 60%;

  div:nth-child(1) {
    color: #c1c1c1;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  div:nth-child(2) {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  div:nth-child(3) {
    font-weight: 500;
    text-decoration: underline;
  }

  div:nth-child(3):hover {
    cursor: pointer;
  }
}

.about_button {
  width: 50px;
  height: 50px;
  background-color: #330033;
  border-top-right-radius: 20px;
  text-align: center;
  margin-bottom: 5rem;
  cursor: pointer;

  mat-icon {
    color: white;
    font-size: 30px;
    width: 50px;
    line-height: 50px;
  }
}

.header_subtext {
  font-size: 16px;
  color: #c1c1c1;
  border-top: 1px solid #c1c1c1;

  span {
    font-weight: 500;
    color: black;
  }
}

.section_header_text {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}

.section_header_subtext {
  font-weight: 500;
  span {
    color: #c1c1c1;
    font-weight: 400;
  }
}

.view_more_button {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  width: 170px;

  div {
    font-weight: bold;
  }

  mat-icon {
    margin-left: 10px;
  }
}

.view_more_button:hover {
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.06);
}

.section_1 {
  background-color: #e8e8e8;
  padding: 100px;
  margin-bottom: 100px;
  position: relative;
  .section_1_text {
    font-size: 60px;
    font-weight: 500;
  }
}

.section1_corner {
  position: absolute;
  bottom: -60px;
  right: 0px;
  background-color: #330033;
  padding: 20px;
  width: 30%;
  color: white;
}

.section_2 {
  background-color: $background-yellow;
  margin: 0px -50px 5rem -50px;
}

.section_2_left {
  padding: 30px;
}

.case_section {
  background-color: $background-beige;
  margin: 0px -50px 5rem -50px;
}

.section_2_right {
  padding: 30px;
}

.workshops_image {
  width: 50%;
  height: 100%;
}

.section_3 {
  margin: -50px;
  padding: 100px 50px;
  background-color: #330033;
  color: white;
}

.section_4 {
  margin-bottom: 90px;
}

.section_5 {
  margin: -50px;
  padding: 100px 50px;
  background-color: #330033;
  color: white;
}

.outlines_info {
  height: 400px;
  background-color: #f6efe8;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.outlines_image {
  left: -20%;
  bottom: 15%;
  width: 500px;
  height: 100%;
}

.outlines_info_wrapper {
  padding: 0px 20px;

  div:nth-child(1) {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.tools_info {
  height: 400px;
  width: 60%;
  background-color: $background-olive;
  padding: 30px;
  position: relative;
}

.tools_image {
  position: absolute;
  right: -25%;
  bottom: 15%;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.join_section {
  border-top: 1px solid #c1c1c1;
}

.count_card {
  padding: 20px;
  border-left: 5px dotted #5529c6;
  width: 30%;

  div:nth-child(1) {
    font-size: 50px;
    color: #330033;
    font-weight: bold;
  }

  div:nth-child(2) {
    font-size: 60px;
  }
}

.blog_section {
  background-color: $background-yellow;
  margin: 0px -50px 5rem -50px;
  position: relative;
}

.blog_section_header {
  padding: 50px;
}

.blog_section_content {
  padding: 0px 50px 50px 50px;
}

.blog_image {
  width: 50%;
  height: 100%;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_bottom_5rem {
  margin-bottom: 5rem;
}

.carousel_wrapper {
  margin: 40px 0px;
}

common-solid-info-card {
  width: 49%;
}

common-blog-carousel {
  width: 100%;
}

common-image-carousel {
  width: 100%;
}

#workplace_tools_section {
  margin-right: 200px;
}

.text_align_right {
  text-align: right;
}

/* RESPONSIVE */

@media only screen and (max-width: 2560px) {
  .header_image {
    height: 80%;
  }
}

@media only screen and (max-width: 1860px) {
  .header_image {
    height: 90%;
  }
}

@media only screen and (max-width: 1750px) {
  #workshops_view_more_button,
  #case_studies_view_more_button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1700px) {
  #prepare_yourself_section {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1600px) {
  #div_courses {
    margin-right: 30px;
  }

  #div_instructors {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1508px) {
  .section_1 {
    margin-bottom: 190px;
  }

  .section1_corner {
    bottom: -150px;
  }
}

@media only screen and (max-width: 1440px) {
  .landing_page_wrapper {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1300px) {
  #workplace_tools_section {
    width: 50%;
  }

  #workplace_section {
    flex-direction: column;
  }

  #workplace_text {
    width: 60%;
    position: relative;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1250px) {
  .count_card {
    div:nth-child(2) {
      font-size: 4.8vw;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .tools_info,
  #workplace_text {
    width: 70%;
  }
}

@media only screen and (max-width: 1100px) {
  .tools_info,
  #workplace_text {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .landing_page_wrapper {
    padding: 0 5rem;
  }

  .section_1 {
    .section_1_text {
      font-size: 5.9vw;
    }
  }

  .info_card_title {
    font-size: 4.9vw;
  }

  .info_card_desc {
    font-size: 1.8vw;
  }

  .section1_corner {
    font-size: 1.8vw;
  }

  .tools_image {
    width: 39.1vw;
    height: auto;
    right: -10%;
    bottom: 20%;
  }
}

@media only screen and (max-width: 960px) {
  img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 850px) {
  .header_image {
    display: none;
  }

  .tools_info,
  #workplace_text {
    width: 90%;
  }

  .tools_image {
    right: -5%;
  }

  .count_card_wrapper {
    flex-direction: column;
  }

  .count_card {
    border-top: 5px dotted #5529c6;
    border-left: none;
    width: 100%;
  }

  .email_image {
    display: none;
  }

  .section_header_text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 780px) {
  #course_header_text {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .landing_page_wrapper {
    padding: 0 2.5rem;
  }

  .section_1 {
    margin-bottom: 150px;
  }

  .section1_corner {
    bottom: auto;
    top: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .section_1 {
    padding: 50px;
  }

  #common_solid_info_card_section {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  common-solid-info-card {
    width: 75%;
  }

  .tools_info {
    flex-direction: column;
  }

  #workplace_tools_section {
    width: 100%;
    margin: 0px;
  }

  #workplace_text {
    margin-top: 110px;
  }

  .tools_image {
    position: static;
    min-width: 255px;
  }
}

@media only screen and (max-width: 550px) {
  .landing_page_wrapper {
    padding: 0 1rem;
  }

  .section1_corner {
    width: 75%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .section_1 {
    margin-bottom: 125px;
  }

  .section_2_left {
    padding-right: 15px;
  }

  .section_2_right {
    padding-left: 25px;
  }

  .blog_section_content {
    padding-right: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .landing_page_wrapper {
    overflow: auto;
    min-width: 425px;
  }

  .section_1 {
    .section_1_text {
      font-size: 25px;
    }
  }

  .info_card_title {
    font-size: 21px;
  }

  .info_card_desc {
    font-size: 8px;
  }

  .count_card {
    div:nth-child(2) {
      font-size: 20.5px;
    }
  }
}
