<!-- <div class="main">
  <section
    class="_flex_col _justify_center _flex_align_item_center section static static-four"
  >
    <div class="section_header_text">What is marketplace?</div>
    <div class="_flex _flex_wrap">
      <div class="_flex_col info_card">
        <mat-icon class="desc_icon">widgets</mat-icon>
        <div class="info_card_title">15+ workshops</div>
        <div>
          Numerous workshops that help professionals navigate their way in a
          busy life
        </div>
      </div>
      <div class="_flex_col info_card">
        <mat-icon class="desc_icon">cast_for_education</mat-icon>
        <div class="info_card_title">8 courses</div>
        <div>
          Numerous workshops that help professionals navigate their way in a
          busy life
        </div>
      </div>
      <div class="_flex_col info_card">
        <mat-icon class="desc_icon">sticky_note_2</mat-icon>
        <div class="info_card_title">Weekly blogs</div>
        <div>
          Numerous workshops that help professionals navigate their way in a
          busy life
        </div>
      </div>
      <div class="_flex_col info_card">
        <mat-icon class="desc_icon">hearing</mat-icon>
        <div class="info_card_title">50+ testimonials</div>
        <div>
          Numerous workshops that help professionals navigate their way in a
          busy life
        </div>
      </div>
      <div class="_flex_col info_card">
        <mat-icon class="desc_icon">face</mat-icon>
        <div class="info_card_title">10+ pastors</div>
        <div>
          Numerous workshops that help professionals navigate their way in a
          busy life
        </div>
      </div>
    </div>
  </section>

  <section class="_flex _flex_align_item_center section static static-three">
    <div class="_flex _flex_align_item_start _justify_center">
      <div class="_flex_col" fxFlex="50%">
        <div class="section_header_text">
          <div>
            Work isn't <span class="site_color">easy</span>, <br />
            but it's full of <span class="site_color">opportunity</span>.
          </div>
        </div>
        <div class="section_regular_text">
          Our work is the means by which God gets done what he wants done in the
          world: people fed, housed, clothed, informed, educated…
          <br />
          <br />
          Our work contributes toward God’s purposes, towards human flourishing,
          and towards care of his creation. Your work matters.
          <br />
          <br />
          It also matters to God because you matter to God, your colleagues
          matter to God, and the organisation you work in matters to God. Our
          work isn’t perfect, our companies aren’t perfect, we aren’t perfect,
          but Jesus is good news for all of it. The restoration he brings, the
          redemption he brings, the truth and justice, the hope. And all these
          things he can bring through you.
          <br />
          <br />
          We want to help you recognise all the ways God could be (and already
          is) at work in your work.
        </div>
      </div>
    </div>
  </section>
  <section
    class="_flex_col _flex_align_item_center _space_evenly section static static-three"
  >
    <div class="section_header_text">
      Check out our latest <span class="site_color">workshops:</span>
    </div>
    <div class="_flex workshop_cards">
      <common-flip-card></common-flip-card>
      <common-flip-card></common-flip-card>
      <common-flip-card></common-flip-card>
    </div>
    <common-button [title]="'View all workshops'" (click)="onClickViewAllBlogs('workshops')"></common-button>
  </section>
  <section
    class="_flex_col _flex_align_item_center _space_evenly section static static-four"
  >
    <div class="section_header_text">
      Discover our most recent <span class="site_color">outline:</span>
    </div>
    <div class="_flex _flex_align_item_center _space_evenly">
      <div class="_flex_col workshop_cards">
        <common-flip-card [flipDirection]="'horizontal'"></common-flip-card>
      </div>
      <div class="_flex_col _space_evenly height_100" fxFlex="30%">
        <div class="section_regular_text">
          Discover more workshops that cover a wide range of engaging, relevant,
          and thought-provoking topics.
        </div>
        <common-button [title]="'View all outlines'" (click)="onClickViewAllBlogs('outlines')"></common-button>
      </div>
    </div>
  </section>
  <section
    class="_flex _flex_align_item_center _justify_center section static static-three height_100"
  >
    <div class="_flex_col _flex_align_item_center">
      <div class="_flex _flex_align_item_center">
        <div class="_flex_col _flex_align_item_center">
          <div class="section_header_text">
            Latest from our <span class="site_color">blog:</span>
          </div>
          <div class="_flex">
            <app-blog-card></app-blog-card>
            <app-blog-card></app-blog-card>
            <app-blog-card></app-blog-card>
          </div>
          <div
            class="_flex _justify_end _flex_align_item_center width_100 site_color pointer"
            (click)="onClickViewAllBlogs('blogs')"
          >
            view all <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="_flex _flex_align_item_center _justify_center section static static-three">
    <div class="_flex _flex_align_item_center _space_evenly" fxFlex="100%">
      <div class="section_header_text">
        Can't find what you're <br>
        looking for? <br>
        Check out other <br>
        <span class="site_color">resources</span> we have
      </div>
      <div class="_flex_col _flex_align_item_center">
        <div class="_flex">
          <app-icon-button
            [config]="{
              icon: 'house',
              style: 'default',
              description: 'Churches'
            }"
          ></app-icon-button>
          <app-icon-button
            [config]="{
              icon: 'face',
              style: 'default',
              description: 'Pastors'
            }"
          ></app-icon-button>
          <app-icon-button
            [config]="{
              icon: 'groups',
              style: 'default',
              description: 'Small groups'
            }"
          ></app-icon-button>
        </div>
        <div class="_flex">
          <app-icon-button
            [config]="{
              icon: 'headset',
              style: 'default',
              description: 'study'
            }"
          ></app-icon-button>
          <app-icon-button
            [config]="{
              icon: 'sports_esports',
              style: 'default',
              description: 'Activities'
            }"
          ></app-icon-button>
        </div>
      </div>

    </div>
  </section>
  <section class="_flex _flex_align_item_center _justify_center section static static-four">
    <div class="_flex _flex_align_item_center">
      <div class="_flex_col">
        <div class="section_bold_text">Join our mailing list</div>
        <div>Get started to find meaning in the marketplace</div>
        <div class="email_wrapper">
          <app-email-input></app-email-input>
        </div>
      </div>
      <img src="../../../../assets/images/discover.svg" />
    </div>
  </section>
</div> -->
<div class="landing_page_wrapper">
  <div class="_flex _flex_align_item_center margin_bottom_40 header_section">
    <div class="_flex_col header_column1">
      <div>- THIS IS</div>
      <div class="title_text">Marketplace</div>
      <div class="title_subtext">
        To help you <br />
        find meaning and purpose <br />
        in the workplace
      </div>
      <div class="about_button">
        <mat-icon>call_made</mat-icon>
      </div>
      <div class="header_subtext">Proudly working with <span>ACEM</span></div>
    </div>
    <img src="/assets/images/teaching.svg" class="header_image" />
    <div class="_flex_col _justify_end header_column2">
      <div>- OUR MISSION</div>
      <div>Christianity driven <br> workplace</div>
      <div>Discover Tools</div>
    </div>
  </div>
  <div class="_flex _flex_align_item_start _space_between section_1">
    <div class="section_1_text" fxFlex="60%">
      Resources and materials to help you find purpose and drive in your work
    </div>
    <div class="_flex_col" fxFlex="30%">
      <div class="_flex _space_between">
        <div class="_flex_col">
          <div class="info_card_title">8+</div>
          <div class="info_card_desc">COURSES</div>
        </div>
        <div class="_flex_col">
          <div class="info_card_title">15+</div>
          <div class="info_card_desc">WORKSHOPS</div>
        </div>
      </div>
      <div class="_flex _space_between">
        <div class="_flex_col">
          <div class="info_card_title">5+</div>
          <div class="info_card_desc">INSTRUCTORS</div>
        </div>
        <div class="_flex_col">
          <div class="info_card_title">230+</div>
          <div class="info_card_desc">STUDENTS</div>
        </div>
      </div>
    </div>
    <div class="section1_corner">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
        tortor convallis, tempus nisi ut, vulputate augue. Sed neque tortor,
        maximus consequat lobortis id, viverra ut ligula.
      </div>
    </div>
  </div>
  <div class="_flex _space_between margin_bottom_40">
    <common-solid-info-card></common-solid-info-card>
    <common-solid-info-card></common-solid-info-card>
  </div>
  <div class="section_2">
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col">
        <div class="section_header_text">Workshops</div>
        <div class="section_header_subtext">
          Purpose driven lessons <span>Specific scenarios</span>
        </div>
      </div>
      <div class="_flex _flex_align_item_center view_more_button">
        <div>View more</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
    <common-image-grid></common-image-grid>
  </div>
  <div class="margin_bottom_40 section_3">
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col">
        <div class="section_header_text">Course outlines</div>
        <div class="section_header_subtext">
          Purpose driven lessons <span>Specific scenarios</span>
        </div>
      </div>
      <div class="_flex _flex_align_item_center view_more_button">
        <div>View all</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
  </div>

  <div class="margin_bottom_40 section_4">
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col">
        <div class="section_header_text">Blogs</div>
        <div class="section_header_subtext">
          Purpose driven lessons <span>Specific scenarios</span>
        </div>
      </div>
      <div class="_flex _flex_align_item_center view_more_button">
        <div>View more</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
  </div>

  <div
    class="_flex _flex_align_item_center _justify_center margin_bottom_40 section_5"
  >
    <div class="_flex _flex_align_item_center">
      <div class="_flex_col">
        <div class="section_bold_text">Join our mailing list</div>
        <div>Get started to find meaning in the marketplace</div>
        <div class="email_wrapper">
          <app-email-input></app-email-input>
        </div>
      </div>
      <img src="../../../../assets/images/discover.svg" />
    </div>
  </div>
</div>
