<div class="landing_page_wrapper">
  <div class="_flex _flex_align_item_center _space_between margin_bottom_40 header_section">
    <div class="_flex_col header_column1">
      <div>- THIS IS</div>
      <div class="title_text">Marketplace</div>
      <div class="title_subtext">
        To help you <br />
        find meaning and purpose <br />
        in the workplace
      </div>
      <div class="about_button">
        <mat-icon>call_made</mat-icon>
      </div>
      <div class="header_subtext">Proudly working with <span>ACEM</span></div>
    </div>
    <img src="/assets/images/teaching.svg" class="header_image" />
    <div class="_flex_col _justify_end header_column2">
      <div>- OUR MISSION</div>
      <div>
        Christianity driven <br />
        workplace
      </div>
      <div>Discover Tools</div>
    </div>
  </div>
  <div class="_flex _flex_align_item_start _space_between section_1">
    <div class="section_1_text" fxFlex="60%">
      Resources and materials to help you find purpose and drive in your work
    </div>
    <div class="_flex_col" fxFlex="30%">
      <div class="_flex _space_between">
        <div class="_flex_col">
          <div class="info_card_title">8+</div>
          <div class="info_card_desc">COURSES</div>
        </div>
        <div class="_flex_col">
          <div class="info_card_title">15+</div>
          <div class="info_card_desc">WORKSHOPS</div>
        </div>
      </div>
      <div class="_flex _space_between">
        <div class="_flex_col">
          <div class="info_card_title">5+</div>
          <div class="info_card_desc">INSTRUCTORS</div>
        </div>
        <div class="_flex_col">
          <div class="info_card_title">230+</div>
          <div class="info_card_desc">STUDENTS</div>
        </div>
      </div>
    </div>
    <div class="section1_corner">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
        tortor convallis, tempus nisi ut, vulputate augue. Sed neque tortor,
        maximus consequat lobortis id, viverra ut ligula.
      </div>
    </div>
  </div>
  <div class="_flex _space_between margin_bottom_40">
    <common-solid-info-card></common-solid-info-card>
    <common-solid-info-card></common-solid-info-card>
  </div>
  <div class="section_2">
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col">
        <div class="section_header_text">Workshops</div>
        <div class="section_header_subtext">
          Purpose driven lessons <span>Specific scenarios</span>
        </div>
      </div>
      <div
        class="_flex _flex_align_item_center _justify_center view_more_button"
        (click)="onClickChangeRoute('workshops')"
      >
        <div>View more</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
    <common-image-grid></common-image-grid>
  </div>
  <div class="margin_bottom_40">
    <div class="_flex _flex_align_item_center _space_between">
      <div class="_flex_col">
        <div class="section_header_text">Course outlines</div>
        <div class="section_header_subtext">
          Purpose driven lessons <span>Specific scenarios</span>
        </div>
      </div>
      <div
        class="_flex _flex_align_item_center _justify_center view_more_button"
        (click)="onClickChangeRoute('outlines')"
      >
        <div>View all</div>
        <mat-icon>trending_flat</mat-icon>
      </div>
    </div>
    <div class="carousel_wrapper">
      <common-text-image-carousel></common-text-image-carousel>
    </div>
  </div>

  <div class="_flex_col margin_bottom_40">
    <div class="_flex _justify_end">
      <div class="_flex_col">
        <div class="_flex_col">
          <div class="section_header_subtext">Tools for the workplace</div>
          <div class="section_header_text">
            Prepare yourself in <br />
            the workplace
          </div>
        </div>
        <div
          class="_flex _flex_align_item_center _justify_center view_more_button"
        >
          <div>View tools</div>
          <mat-icon>trending_flat</mat-icon>
        </div>
      </div>
    </div>
    <div class="_flex _flex_align_item_center _space_between" fxFlex="100%">
      <div class="_flex _flex_align_item_center tools_info">
        <div class="_flex_col">
          <div class="_flex _flex_align_item_center">
            <div class="_flex_col tools_info_wrapper">
              <div>My journey at work</div>
              <div>
                This is a fake description <br />
                toronto raptors
              </div>
            </div>
            <div class="_flex_col tools_info_wrapper">
              <div>Praying over my resume</div>
              <div>
                This is a fake description <br />
                clever instinct makes sense
              </div>
            </div>
          </div>
          <div class="_flex_col tools_info_wrapper">
            <div>Blessing my marketplace</div>
            <div>This is a fake description</div>
          </div>
        </div>

        <img src="/assets/images/mountains.jpg" class="tools_image" />
      </div>
      <div class="_flex_col" fxFlex="20%">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra
          iaculis nunc id bibendum. Pellentesque vitae felis eget mi porta
          interdum non sodales ligula. Cras convallis nisl at cursus porttitor.
          Nam nec interdum tortor. Nunc arcu dui, mollis eu justo et, luctus
          ultricies massa. Aliquam finibus est eget quam iaculis congue vitae
          vel erat.
        </div>
      </div>
    </div>
  </div>

  <div class="_flex _flex_align_item_start _space_between margin_bottom_40">
    <div class="_flex _justify_start">
      <div class="_flex_col">
        <div class="_flex_col">
          <div class="section_header_subtext">Blogs</div>
          <div class="section_header_text">Hear testimonials from  brothers and sisters</div>
        </div>
        <div
          class="_flex _flex_align_item_center _justify_center view_more_button"
        >
          <div>View blogs</div>
          <mat-icon>trending_flat</mat-icon>
        </div>
      </div>
    </div>
    <common-blog-carousel></common-blog-carousel>
  </div>

  <div class="_flex _flex_align_item_center _justify_center margin_bottom_40">
    <div class="_flex _flex_align_item_center">
      <div class="_flex_col">
        <div class="section_bold_text">Join our mailing list</div>
        <div>Get started to find meaning in the marketplace</div>
        <div class="email_wrapper">
          <app-email-input></app-email-input>
        </div>
      </div>
      <img src="../../../../assets/images/discover.svg" />
    </div>
  </div>
</div>
