<div class="_flex _flex_align_item_start footer_wrapper _space_between _flex_wrap">
  <div class="_flex_col margin_right" id="marketplace_section">
    <div class="marketplace_text">MARKETPLACE</div>
    <div class="desc_text">Transforming the marketplace through purposeful work</div>
  </div>
  <div class="_flex _flex_align_item_start _space_between _flex_wrap" fxFlex="60%">
    <div class="_flex_col margin_right">
      <div class="header_text">Content</div>
      <div class="nav_text" (click)="onClickNav('/')">/ home.</div>
      <div class="nav_text" (click)="onClickNav('/about')">/ about.</div>
      <div class="nav_text" (click)="onClickNav('/workshops')">/ workshops.</div>
      <div class="nav_text" (click)="onClickNav('/outlines')">/ course outlines.</div>
    </div>
    <div class="_flex_col margin_right" >
      <div class="header_text">About</div>
      <div class="nav_text">/ contact us.</div>
      <div class="nav_text">/ development team.</div>
      <div class="nav_text">/ legal.</div>
    </div>
    <div class="_flex_col" >
      <div class="header_text">About</div>
      <div class="nav_text">/ contact us.</div>
      <div class="nav_text">/ development team.</div>
      <div class="nav_text">/ legal.</div>
    </div>
  </div>
</div>