@import "../../../../assets/scss/main.scss";

.footer_wrapper {
  padding: 70px;
  background-color: #330033;
}

.marketplace_text {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.title_col {
  max-width: 400px;
}

.header_text {
  color: #f57921;
  margin: 10px 0px;
}

.desc_text {
  font-weight: 500;
  color: white;
  margin: 10px 0px;
}

.nav_text {
  font-weight: 500;
  color: white;
}

.nav_text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.margin_right {
  margin-right: 30px;
}

/* RESPONSIVE */

@media only screen and (max-width:1350px) {
  .marketplace_text {
    font-size: 30px;
  }
}

@media only screen and (max-width:1200px) {
  #marketplace_section {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:425px) {
  .footer_wrapper {
    overflow: auto;
    min-width: 425px;   
  }
}