<div class="footer_wrapper">
  <div class="columns">
    <div class="column is-two-fifths-desktop">
      <div class="marketplace_text" (click)="onClickNav('/')">Work-As-Mission</div>
      <div class="desc_text">Transforming the marketplace through purposeful work</div>
    </div>
    <div class="column is-two-fifths-desktop">
      <h4 class="title is-4 header_text">Content</h4>
      <div class="nav_text" (click)="onClickNav('/')">/ home.</div>
      <div class="nav_text" (click)="onClickNav('/about')">/ about.</div>
      <div class="nav_text" (click)="onClickNav('/mission-@-work')">/ mission @ work.</div>
      <div class="nav_text" (click)="onClickNav('/ministry-@-work')">/ ministry @ work.</div>
      <div class="nav_text" (click)="onClickNav('/toolbox')">/ toolbox.</div>
    </div>
    <div class="column is-one-fifth">
      <h4 class="title is-4 header_text">About</h4>
      <div class="nav_text" (click)="onClickNav('/contact')">/ contact us.</div>
      <!-- <div class="nav_text">/ development team.</div>
      <div class="nav_text">/ legal.</div> -->
    </div>
  </div>
  <hr>
  <p class="content">	&copy; Work as Mission</p>
  <!-- <span (click)="onClickNav('/admin')">-</span> -->
</div>