<h1 class="title is-1">Surviving @ Work</h1>
<p class="content">
  <i
    >“Now I realize I was getting paid quite well to do something I enjoyed.”</i
  >
</p>
<p class="content">
  That revelation dawned on my good friend and former editor a few months after
  he had quit his job. Greg was a talented journalist who taught me everything
  about trade publishing. For almost four years we enjoyed a great run, winning
  accolades from the owner and colleagues. But neither of us was too aware of
  our own hubris. We found it hard to get along with others in a highly
  competitive environment, and in the end my mentor left in frustration. I opted
  to stay for the pay and the opportunities.
</p>
<p class="content">
  Greg and I believed that we were the best in what we did. Period. On the plus
  side, this enabled us to focus and delivery great results. On the downside, we
  were stepping on too many toes. Following his resignation, I became
  increasingly arrogant and cynical, gradually turning into a lone wolf. I
  enjoyed my work, but not the people.
</p>
<p class="content">
  I’m sharing this for two reasons. Like Greg, some of us probably have had the
  experience of leaving a position in exasperation, or for greener pastures –
  only to find out that grazing on the other side was even harder. As for me,
  choosing to stay turned out to be a good move, in terms of gaining exposure in
  the industry. I even turned down offers from two international publications in
  the following months! I don’t regret that, but I do wish I had made better use
  of my time to rethink my purpose in life.
</p>
<p class="content">
  We can’t turn the clock back, but we do want to apply the lessons we learned.
  With the benefit of hindsight, here are some of my ideas for surviving a tough
  work environment.
</p>
<div class="content">
  <ol>
    <li>
      Hit RESET: Put on new mental lenses as you survey your workplace.
      <ul>
        <li>
          Transformation of people is God’s work. It’s your responsibility to
          decide, “I want change!” (Romans 12:2)
        </li>
        <li>
          For starters, identify ONE positive in your work. Be specific. Give
          thanks for this.
        </li>
      </ul>
    </li>
    <li>Learn a new skill related to your profession. Equip yourself!</li>
    <li>Know your purpose in life. Find out where you want to go.</li>
    <li>
      List your core values, priorities, unique contributions to your team,
      industry, and community.
    </li>
    <li>
      Who are the people who share your values? Reach out and make them your
      allies.
    </li>
    <li>
      Think you’re stuck in a toxic workplace? Respond, not react.
      <ul>
        <li>Resist kneejerk reactions.</li>
      </ul>
    </li>
    <li>
      Start your day in PRAYER.
      <ul>
        <li>
          Whether you’re working solo from home, or connected to a team of 50,
          add
          <b>ONE</b> to your team. Invite Jesus to be your
          <b>Partner @ Work</b>.
        </li>
      </ul>
    </li>
  </ol>
</div>

<p class="content">
  <i
    >“For we are God’s workmanship, created in Christ Jesus to do good works,
    which God prepared in advance for us to do.”</i
  >
  (Ephesians 2:10 NIV)
</p>
<p class="content">
  <i
    >“Whatever you do, work at it with all your heart, as working for the Lord,
    not for men.”(Colossians 3:23 NIV)
  </i>
</p>
