html,
body {
  height: 100%;
  margin: 0;
  //font-family: 'Castoro', serif;
  font-size: 17px !important;
  letter-spacing: 0.36px;
}

// ANGULAR OVERRIDES
.success-snackbar {
  background: #48c774;
  padding: 25px !important;

  .mat-simple-snackbar {
    span {
      font-size: 18px;
      color: white;
    }
  }
}

// BULMA 
$orange: #f57921;
$pink: blue;
$purple: #330033;
$brown: #757763;

// Navbar
$navbar-item-hover-color: $orange;
$navbar-dropdown-arrow: $orange;

// Footer
$footer-background-color: $purple;
$footer-color: true;

// Update Bulma's global variables
$primary: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";