<div class="letter">
  <h1 class="title is-1">Reality Challenge</h1>

  <h3 class="title is-3">Introduction</h3>
  <p class="content">
    This exercise helps you acknowledge and recognize God at work. Sometimes,
    the presence of God is obvious! We’re overjoyed. We praise Jesus for another
    miracle. At other times, we wonder where God is. It might be a bad day at
    work, or maybe we weren’t paying attention. But the Bible clearly says that
    He stays with us. So we can say with confidence, “The Lord is my helper; I
    will not be afraid. What can anyone do to me?” (Hebrews 13:6)
  </p>
  <p class="content">
    We encourage you to take at least 30 minutes to work through the following
    questions. They will help you put your workplace in perspective. Q1 is easy
    and straightforward. Q2 and Q3 may make you uneasy. Be honest when it comes
    to difficult people, you won’t need to share this with anyone. Only Jesus
    and you will know. Write down their names so you know that they are real
    people, so that so may learn how to pray for them.
  </p>
  <p class="content">
    Q4 helps you take a positive look at your situation (no matter how bad it
    may seem). Q5 and Q6 require you to see things from a wider perspective. For
    the last two questions, you need help from the Lord. Pray as you begin: Lord
    Jesus, you know me better than I know myself. Please remind me who you are,
    help me see you. Reveal my thoughts and my sins to me, and lead me in your
    righteousness. (Psalm 139:23-24 paraphrase)
  </p>
  <p class="content">
    If you have a question, let us know. We will pray together for answers!
  </p>
  <h3 class="title is-3">Where you work</h3>
  <div class="content">
    <ol>
      <li>
        Company: <input class="input" />
        <ol>
          <li>Industry: <input class="input" /></li>
          <li>Position and job description: <input class="input" /></li>
          <li>What does Jesus think of your work? <input class="input" /></li>
        </ol>
      </li>
      <li>
        Think of the people you meet every day. How is your relationship with
        them? How do you <i>feel</i> about them?
        <ol>
          <li>
            Coworkers (including employers and supervisiors)
            <ol>
              <li>Partners and best friends:</li>
              <li>People I try to avoid:</li>
              <li>Partners I don't know well:</li>
            </ol>
          </li>
          <li>
            Customers
            <ol>
              <li>My best clients!</li>
              <li>Complainers and troublemakers!</li>
              <li>Others?</li>
            </ol>
          </li>
          <li>Competitors</li>
          <li>People you serve</li>
          <li>What does Jesus think of them?</li>
        </ol>
      </li>
      <li>
        Describe the "atmosphere" in your workplace/ marketplace.
        <ol>
          <li>Friendly, family-life, joyful?</li>
          <li>
            Negative, boring, full of complaints, bitterness, distrust, toxic
          </li>
          <li>Filled with anxiety and fear</li>
          <li>Others:</li>
        </ol>
      </li>
      <li>For what do you give thanks in your workplace?</li>
      <li>What are your complaints?</li>
      <li>
        What are the main challenges in your marketplace?
        <ol>
          <li>
            For you <i>personally</i> - personal life, career, emotions,
            physical health
          </li>
          <li>For your company - sales, profits, expansion, layoffs?</li>
          <li>For your marketplace - industry issues?</li>
        </ol>
      </li>
      <li>What do you think God is doing in your company and marketplace?</li>
      <li>Why do you think God wants you to work in your company?</li>
    </ol>
  </div>

  <h3 class="title is-3">Note:</h3>
  <p class="contest">
    When you work through this exercise, be as objective as possible. For
    example, someone has been laid off. We might assume that the company wanted
    to cut costs, or they just didn’t like that person. Pray and wait. There may
    be more.
  </p>
  <p class="content">The following <b>Big 4 Questions</b> will help:</p>
  <div class="content">
    <ol>
      <li>What happened?</li>
      <li><i>Why</i> did it happen</li>
      <li>Where was Jesus when it happened?</li>
      <li>What did I learn from this experience?</li>
    </ol>
  </div>

  <h2 class="title is-2">
    Once a month review these questions. Keep a journal.
  </h2>

  <h3 class="title is-3">How am I coping at work?</h3>
  <div class="content">
    <ol>
      <li>What is my purpose at work? How is it changing?</li>
      <li>
        What are the challenges in my marketplace in terms of people and
        circumstances? Have they become worse or better?
      </li>
      <li>Who are the people helping me? What kind of help do I seek?</li>
    </ol>
  </div>

  <h3 class="title is-3">How is my mission?</h3>
  <div class="content">
    <ol>
      <li>Am I getting more proactive/positive about my workplace/work?</li>
      <li>Am I getting more aware of Jesus at work? Examples?</li>
      <li>Am I making more allies? (Friends vs enemies!)</li>
      <li>
        In addition to seeking out Christians at work, have I met more persons
        of peace? (They may or may not be Christians, but you know they walk in
        step with the Lord)
      </li>
      <li>
        Is the kingdom gaining ground in my marketplace? What kind of evidence
        is showing?
      </li>
    </ol>
  </div>
  <div class="field is-grouped is-grouped-right">
    <a
      class="_flex _flex_align_item_center download_button control"
      tooltipInfoPopup
      [tooltipText]="'Coming Soon'"
    >
      <button class="button is-outlined is-primary" disabled>
        <span>Save your responses</span>
      </button>
    </a>
    <a
      class="_flex _flex_align_item_center download_button control"
      href="../../../assets/files/reality_challenge.pdf"
      download
    >
      <button class="button is-primary">
        <span>Download Original File</span>
      </button>
    </a>
  </div>
</div>
