@import "../../../assets/scss/main.scss";

.letter {
  background: #fff;
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.16);
  margin: 26px auto 0;
  padding: 24px;
  position: relative;
  width: 80%;
}
p {
  text-indent: 20px;
}
