<div class="rethinking_wrapper">
  <div class="title_text">Mission @ Work</div>
  <p class="content">
    Your work is your mission. It may not feel like your dream job or make you a
    lot of money, but it deserves your respect - just because <i>you</i> are
    doing it.
  </p>
  <p class="content">
    Seeking a higher purpose? Longing to fufill your calling? Wondering how to
    survive your next workday? Looking for a job? You're not alone. Whatever
    your situation, know that your God stands with you today. You are God's
    masterpiece. You reach your full potential when you work with Him.
  </p>
  <p class="content">Let's begin. Find your bearings. Stand firm. Seek change.</p>
  <common-stepper [stepperConfig]="stepperValue"></common-stepper>
</div>
