<div class="mission_banner _flex _justify_center _flex_align_item_center">
  <h1 class="title_text">Mission @ Work</h1>
  <img src="../../../../assets/images/landscape.jpg" class="banner_image">
</div>
<div class="rethinking_wrapper">
  <div class="columns is-centered">
    <div class="column is-one-fifth">
      <h1 class="title is-1">Your work is your mission.</h1>
      <p class="content">
         It may not feel like your dream job or make you a
        lot of money, but it deserves your respect - just because <i>you</i> are
        doing it.
      </p>
    </div>

    <div class="column is-one-fifth">
      <p class="content">
        Seeking a higher purpose? Longing to fufill your calling? Wondering how to
        survive your next workday? Looking for a job? You're not alone. Whatever
        your situation, know that your God stands with you today. You are God's
        masterpiece. You reach your full potential when you work with Him.
      </p>
      <p class="content">Let's begin. Find your bearings. Stand firm. Seek change.</p>
    </div>

  </div>
  <h3 class="title is-3">Steps to guide you through your journey:</h3>
  <common-stepper [stepperConfig]="stepperValue"></common-stepper>
</div>
