@import "../../../../assets/scss/main.scss";

.rethinking_wrapper {
  padding: 70px;
}

.mission_banner {
  width: 100%;
  height: 300px;
  background-color: #ffdb99;
}

.title_text {
  font-size: 4rem;
  margin-bottom: 20px;
}
