@import "../../../../assets/scss/main.scss";

.blog_wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  // background: oldlace;
}

.autor_text {
  color: #808080;
}

.blog_card {
  cursor: pointer;
}