<div class="site-container blog_wrapper">
  <div class="mb-5">
    <h1 class="title is-1">Blogs</h1>
    <p class="subtitle">What will you discover today?</p>
  </div>

  <div *ngFor="let blog of blogs">
    <div (click)="onClickBlog()" class="blog_card">
      <h3 class="title is-3">{{ blog.title }}</h3>
      <p class="subtitle is-size-6 autor_text">Written by: {{ blog.author }} - {{ blog.date | date: 'mediumDate'}}</p>
      <p class="content">{{blog.shortDescription}}</p>
      <hr />
    </div>
  </div>
</div>
