@import "../../../../assets/scss/main.scss";

.card_wrapper {
  width: 450px;
  background: #e3dccf;
  padding: 10px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}

.card_wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 20px;
}

.date_text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  font-style: italic;
}

.title_text {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

img {
  width: 250px;
  margin-right: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
