<div class="letter">
  <h1 class="title is-1">Make your move!</h1>
  <p class="content">
    <i
      >“Instead of sitting around waiting, make a move and feel your way across
      the river.”</i
    >
  </p>
  <p class="content">
    It was something of a eureka moment for Mike, a young graduate exploring
    career opportunities that would allow him to express his Christian faith. We
    had been meeting for several weeks to pray over his work. In the end, he
    decided to acknowledge that his service as a videographer was his mission.
    He would do it to the best of his ability until the Lord told him otherwise.
    He would stay alert to needs in his marketplace, wading into the water one
    step at a time.
  </p>
  <p class="content">
    Many of us may not have a clear life mission in front of our eyes. But all
    of us can join Mike in his revitalized journey.
    <b>Your work is your mission.</b> Engage in it with all your heart and mind
    and strength. Do it as for the Lord.
  </p>
  <p class="content">
    Use the following questions to arrive at <b>your mission statement</b>, if
    you don’t already have one. Remember that it’s a living statement. As you
    gain clarity, go ahead and fine-tune it!
  </p>
  <div class="content">
    <ol>
      <li>
        Give thanks for what you have achieved.
        <ul>
          <li>
            Review your <b>Journey @ Work</b> and <b>Resume Prayer Summary</b>.
            Mark the top 3 <b>achievements</b> in your career so far. Why?
          </li>
        </ul>
      </li>
      <li>Inventory of your skills and talents.</li>
      <li>What you do best?</li>
      <li>
        What are your greatest needs of your customers/clients, employers and
        coworkers?
      </li>
      <li>How can you best serve these people?</li>
      <li>How would you introduce yourself to potential employers/clients?</li>
    </ol>
  </div>
  <p class="content">
    Now rewrite this into <b><i> your mission statement</i></b>
  </p>
  <textarea class="textarea" placeholder="My mission is.."></textarea>
</div>
